<div>
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate>
        <h2 id="page-heading">
            <span *ngIf="salon?.id" jhiTranslate="salon.edit">Modification d'un salon</span>
            <span *ngIf="!salon?.id" jhiTranslate="salon.create">Création d'un nouveau salon</span>

            <hr/>

            <div class="d-flex justify-content-between mt-3">
                <span>
                    <button (click)="previousState()" class="btn btn-primary btn-sm" type="button">
                        <fa-icon [title]="'common.back' | translate" icon="arrow-left"></fa-icon>
                        <span jhiTranslate="common.back">Back</span>
                    </button>
                </span>

                <span>
                    <a *ngIf="readonlyForm" [routerLink]="['../stats']" class="btn btn-warning btn-sm">
                        <span class="d-none d-md-inline" jhiTranslate="salon.stats.title">Statistiques</span>
                    </a>

                    <a *ngIf="readonlyForm" [routerLink]="['../participations']" class="btn btn-warning btn-sm">
                        <span class="d-inline" jhiTranslate="salon.participations">Participations</span>
                    </a>

                    <a *ngIf="readonlyForm" [routerLink]="['../stands']" class="btn btn-warning btn-sm">
                        <span class="d-inline" jhiTranslate="salon.stands">Stands</span>
                    </a>

                    <a *ngIf="readonlyForm" [routerLink]="['../conferences']" class="btn btn-warning btn-sm">
                        <span class="d-inline" jhiTranslate="salon.conferences">Conférences</span>
                    </a>

                    <a *ngIf="readonlyForm" [routerLink]="['../volunteers']" class="btn btn-warning btn-sm">
                        <span class="d-inline" jhiTranslate="salon.volunteers">Bénévoles</span>
                    </a>
                </span>
                <span>
                    <button (click)="writeBack()" *ngIf="readonlyForm" class="btn btn-primary btn-sm" id="edit-entity" type="button">
                        <fa-icon [title]="'common.edit' | translate" icon="pencil-alt"></fa-icon>
                        <span jhiTranslate="common.edit">Edit</span>
                    </button>

                    <button (click)="readOnlyBack()" *ngIf="!readonlyForm && salon?.id" class="btn btn-secondary btn-sm" id="cancel-save"
                            type="button">
                        <fa-icon [title]="'common.cancel' | translate" icon="ban"></fa-icon>
                        <span jhiTranslate="common.cancel">Cancel</span>
                    </button>
                    <button *ngIf="!readonlyForm" [disabled]="editForm.invalid || isSaving" class="btn btn-primary btn-sm" id="save-entity"
                            type="submit">
                        <fa-icon [title]="'common.save' | translate" icon="floppy-disk"></fa-icon>
                        <span jhiTranslate="common.save">Save</span>
                    </button>
                </span>
            </div>
            <hr/>
        </h2>

        <div>
            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <div class="card">
                <h5 class="card-header" jhiTranslate="common.info-basic">Information de base</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 fw-bold align-content-center">
                            <label for="field_place" jhiTranslate="salon.place">Nom du salon</label>
                            <input class="form-control" formControlName="place" id="field_place" name="place" type="text"/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4 fw-bold align-content-center">
                            <label for="field_referenceNumber" jhiTranslate="salon.referenceNumber">N° de référence</label>
                            <input class="form-control" formControlName="referenceNumber" id="field_referenceNumber" name="referenceNumber"
                                   type="text"/>
                        </div>

                        <div class="col-sm-4 fw-bold align-content-center">
                            <label for="field_startingDate" jhiTranslate="salon.startingDate">Date de début</label>
                            <input class="form-control" formControlName="startingDate" id="field_startingDate" name="startingDate"
                                   placeholder="DD.MM.YYYY" type="date"/>
                        </div>

                        <div class="col-sm-4 fw-bold align-content-center">
                            <label for="field_endingDate" jhiTranslate="salon.endingDate">Date de fin</label>
                            <input class="form-control" formControlName="endingDate" id="field_endingDate" name="endingDate" placeholder="DD.MM.YYYY"
                                   type="date"/>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 fw-bold align-content-center">
                            <label for="field_extraInformation" jhiTranslate="salon.extraInformation">Extra Information</label>
                            <textarea class="form-control" formControlName="extraInformation" id="field_extraInformation" name="extraInformation"
                                      rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div class="card">
            <h5 class="card-header" jhiTranslate="salon.prices">Configuration des prix</h5>
            <div class="card-body">
                <div class="row mt-1">
                    <div class="col-sm-6 fw-bold align-content-center">
                        <label for="field_priceConference" jhiTranslate="salon.priceConference">Price Conference</label>
                        <input class="form-control" formControlName="priceConference" id="field_priceConference" name="priceConference"
                               type="number"/>
                    </div>

                    <div class="col-sm-6 fw-bold align-content-center">
                        <label for="field_priceSharingStand" jhiTranslate="salon.priceSharingStand">Price Sharing Stand</label>
                        <input class="form-control" formControlName="priceSharingStand" id="field_priceSharingStand" name="priceSharingStand"
                               type="number"/>
                    </div>
                </div>
                <div class="row mt-3 align-content-center">
                    <div class="col-sm-4 fw-bold align-content-center">
                        <label for="field_priceMeal1" jhiTranslate="salon.priceMeal1">Price Meal 1</label>
                        <input class="form-control" formControlName="priceMeal1" id="field_priceMeal1" name="priceMeal1" type="number"/>
                    </div>

                    <div class="col-sm-4 fw-bold align-content-center">
                        <label for="field_priceMeal2" jhiTranslate="salon.priceMeal2">Price Meal 2</label>
                        <input class="form-control" formControlName="priceMeal2" id="field_priceMeal2" name="priceMeal2" type="number"/>
                    </div>

                    <div class="col-sm-4 fw-bold align-content-center">
                        <label for="field_priceMeal3" jhiTranslate="salon.priceMeal3">Price Meal 3</label>
                        <input class="form-control" formControlName="priceMeal3" id="field_priceMeal3" name="priceMeal3" type="number"/>
                    </div>
                </div>

                <hr/>

                <div formArrayName="priceStandSalons">
                    <div *ngFor="let priceStand of editForm.controls['priceStandSalons'].controls; let i = index" [formGroupName]="i"
                         class="row mt-3 align-content-center">
                        <div class="col-sm-5 fw-bold align-content-center">{{ priceStand.value.dimension?.dimension }}</div>
                        <div class="col-sm-7 align-content-center">
                            <input class="form-control" formControlName="price" id="{{ 'field_price' + i }}" name="price" type="number"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
