<app-content-page [formGroup]="editForm">
    <div appMenuBarStart>
        @if (editForm.controls.id.value) {
            <h3>{{ 'participation.edit' | translate }}</h3>
        } @else {
            <h3>{{ 'participation.create' | translate }}</h3>
        }
    </div>
    <div appMenuBarEnd>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading"
                    [showText]="false"
                    primeIcon="pi-arrow-left"
                    translateKey="common.back"/>
        @if (isReadOnly) {
            <button-box (clickedEvent)="edit()"
                        [isDisabled]="isLoading"
                        [showText]="false"
                        primeIcon="pi-pencil"
                        translateKey="common.edit"/>
        }

        @if (editForm.controls.id.value && !isReadOnly) {
            <button-box (clickedEvent)="cancel()"
                        [isDisabled]="isLoading"
                        [showText]="false"
                        primeIcon="pi-ban"
                        translateKey="common.cancel"
                        type="secondary"/>
        }

        @if (!isReadOnly) {
            <button-box (clickedEvent)="save()"
                        [isDisabled]="editForm.invalid || isLoading"
                        [isSubmit]="true"
                        [showText]="false"
                        primeIcon="pi-save"
                        translateKey="common.save"/>
        }

        @if (isReadOnly) {
            <menu-box [items]="menuCache"
                      buttonIcon="pi-list"
                      buttonTranslateKey="common.actions"/>
        }
    </div>
    <app-alert-error></app-alert-error>


    <p-confirmpopup/>
    <app-card>
        <div appCardHeader>
            <div class="d-flex w-100 justify-content-between">
                <h4>{{ 'common.info-basic' | translate }}</h4>
                @if (isReadOnly) {
                    <div class="d-flex gap-2 align-items-center">
                        <button-box [isDisabled]="isLoading"
                                    [links]="['../billing']"
                                    [modeLink]="true"
                                    translateKey="participation.billing.title"
                                    type="warning"/>
                        <fa-icon (click)="openHistoryModal()"
                                 [title]="'event.buttonTitle' | translate"
                                 class="clickable"
                                 icon="clock-rotate-left"></fa-icon>
                    </div>
                }
            </div>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-12">
                    <text-box fieldName="therapistName"
                              formControlName="therapistName"
                              translateKey="exhibitor.therapistName"/>
                </div>
                <div class="mt-4 col-lg-4">
                    <number-box fieldName="nbMeal1" formControlName="nbMeal1" translateKey="participation.nbMeal1"/>
                </div>
                <div class="mt-4 col-lg-4">
                    <number-box fieldName="nbMeal2" formControlName="nbMeal2" translateKey="participation.nbMeal2"/>
                </div>
                <div class="mt-4 col-lg-4">
                    <number-box fieldName="nbMeal3" formControlName="nbMeal3" translateKey="participation.nbMeal3"/>
                </div>
                <div class="mt-4 col-lg-6">
                    <select-box [formatterFunction]="formatterModePaymentMeals"
                                [needTranslation]="true"
                                [options]="modePaymentMealsValues"
                                fieldName="modePaymentMeals"
                                formControlName="modePaymentMeals"
                                translateKey="participation.modePaymentMeals.label"/>
                </div>
                <div class="mt-4 col-lg-6">
                    <select-box [formatterFunction]="formatterInvoiceMethod"
                                [needTranslation]="true"
                                [options]="invoiceSendingMethodValues"
                                fieldName="invoiceSendingMethod"
                                formControlName="invoiceSendingMethod"
                                translateKey="participation.invoiceSendingMethod.label"/>
                </div>
                <div class="mt-4 col-lg-3">
                    <checkbox-box fieldName="hasOffer"
                                  formControlName="hasOffer"
                                  translateKey="participation.hasOffer"/>
                </div>
                <div class="mt-4 col-lg-9">
                    @if (editForm.controls.hasOffer.value) {
                        <text-box fieldName="offer" formControlName="offer" translateKey="participation.offer"/>
                    }
                </div>

                <div class="mt-4 col-12">
                    <textarea-box fieldName="additionnalInformation"
                                  formControlName="additionnalInformation"
                                  translateKey="participation.additionnalInformation"/>
                </div>
            </div>
        </div>
    </app-card>
    @if (!stateService.hideSensibleInformation() || !editForm.controls.id.value) {
        <app-card>
            <div appCardHeader>
                <h4>{{ 'common.info-intern' | translate }}</h4>
            </div>
            <div appCardBody>
                <div class="row">
                    <div class="mt-4 col-lg-4 d-flex">
                        <select-box [enableFilter]="true"
                                    [filterFields]="selectFilterExhibitor()"
                                    [formatterFunction]="formatterExhibitor"
                                    [options]="exhibitorsOptions"
                                    class="w-100"
                                    fieldName="exhibitor"
                                    formControlName="exhibitor"
                                    translateKey="participation.exhibitor"/>
                        @if (isReadOnly) {
                            <link-box
                                    [links]="['/admin', 'exhibitors', editForm.controls.exhibitor.value?.id ?? '', 'view']"
                                    [showText]="false"
                                    class="align-content-center"
                                    primeIcon="pi-link"
                                    style="border: 1px dashed #555555;border-radius: 0 0.25em 0.25em 0;padding: 0.25em;border-left:0"/>
                        }
                    </div>

                    <div class="mt-4 col-lg-4">
                        <date-box fieldName="registrationDate"
                                  formControlName="registrationDate"
                                  translateKey="participation.registrationDate"/>
                    </div>
                    <div class="mt-4 col-lg-4">
                        <select-box [formatterFunction]="formatterStatus"
                                    [needTranslation]="true"
                                    [options]="statusValues"
                                    fieldName="status"
                                    formControlName="status"
                                    translateKey="participation.status.label"/>
                    </div>

                    <div class="mt-4 col-lg-4">
                        <checkbox-box fieldName="acceptedChart"
                                      formControlName="acceptedChart"
                                      translateKey="participation.acceptedChart"/>
                    </div>
                    <div class="mt-4 col-lg-4">
                        <checkbox-box fieldName="acceptedContract"
                                      formControlName="acceptedContract"
                                      translateKey="participation.acceptedContract"/>
                    </div>
                    <div class="mt-4 col-lg-4">
                        <checkbox-box fieldName="needArrangement"
                                      formControlName="needArrangement"
                                      translateKey="participation.needArrangement"/>
                    </div>
                    <div class="mt-4 col-lg-4">
                        <checkbox-box fieldName="crushOfHeart"
                                      formControlName="crushOfHeart"
                                      translateKey="participation.crushOfHeart"/>
                    </div>
                    <div class="mt-4 col-lg-4">
                        <checkbox-box fieldName="guestOfHonor"
                                      formControlName="guestOfHonor"
                                      translateKey="participation.guestOfHonor"/>
                    </div>
                    <div class="mt-4 col-lg-4"></div>
                    <div class="mt-4 col-lg-4">
                        <rating-box formControlName="ratingFriendliness"
                                    fieldName="ratingFriendliness"
                                    translateKey="participation.ratingFriendliness"/>
                    </div>
                    <div class="mt-4 col-lg-4">
                        <rating-box formControlName="ratingPaymentSpeed"
                                    fieldName="ratingPaymentSpeed"
                                    translateKey="participation.ratingPaymentSpeed"/>
                    </div>
                    <div class="mt-4 col-lg-4">
                        <rating-box formControlName="ratingServiceQuality"
                                    fieldName="ratingServiceQuality"
                                    translateKey="participation.ratingServiceQuality"/>
                    </div>
                    <div class="mt-4 col-12">
                        <textarea-box fieldName="extraInformation"
                                      formControlName="extraInformation"
                                      translateKey="participation.extraInformation"/>
                    </div>
                </div>
            </div>
        </app-card>
    }
    @if (isReadOnly) {
        <app-card>
            <div appCardHeader>
                <h4>{{ 'participation.linkedServices' | translate }}</h4>
            </div>
            <div appCardBody>
                <div class="row">
                    <div class="col-12 pt-2">
                        @let stands = (loadStandsOnce() | async) ?? [];
                        @let conferences = (loadConferencesOnce() | async) ?? [];
                        @let workshops = (loadWorkshopsOnce() | async) ?? [];
                        <p-tabs [(value)]="tabActive">
                            <p-tablist>
                                <p-tab value="0">{{ 'stand.title' | translate }}
                                    @if (stands.length > 0) {
                                        <p-badge [severity]="tabActive === '0' ? undefined : 'contrast'"
                                                 [value]="stands.length"></p-badge>
                                    }
                                </p-tab>
                                <p-tab value="1">{{ 'conference.title' |translate }}
                                    @if (conferences.length > 0) {
                                        <p-badge [severity]="tabActive === '1' ? undefined : 'contrast'"
                                                 [value]="conferences.length"></p-badge>
                                    }
                                </p-tab>
                                <p-tab value="2">{{ 'workshop.title' |translate }}
                                    @if (workshops.length > 0) {
                                        <p-badge [severity]="tabActive === '2' ? undefined : 'contrast'"
                                                 [value]="workshops.length"></p-badge>
                                    }
                                </p-tab>
                            </p-tablist>
                            <p-tabpanels>
                                <p-tabpanel value="0">
                                    <p-table #standTable
                                             [loading]="isLoading"
                                             [paginator]="true"
                                             [rowsPerPageOptions]="[10, 25, 50]"
                                             [rows]="10"
                                             [sortOrder]="-1"
                                             [value]="stands"
                                             class="mt-2"
                                             dataKey="id"
                                             sortField="registrationDate">
                                        <ng-template #header>
                                            <tr>
                                                <th>{{ 'stand.description' | translate }}</th>
                                                <th>{{ 'stand.dimension' | translate }}</th>
                                                <th>{{ 'stand.status.label' | translate }}</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template #body let-stand>
                                            <tr>
                                                <td [routerLink]="['../stands', stand.id, 'view']"
                                                    class="clickable truncate">
                                                    {{ stand.description }}
                                                    @if (stand.subCategories.length > 0) {
                                                        <div>
                                                            @for (subCategory of stand.subCategories; track subCategory) {
                                                                <p-tag [value]="subCategory"/>
                                                            }
                                                        </div>
                                                    }
                                                </td>
                                                <td [routerLink]="['../stands', stand.id, 'view']"
                                                    class="clickable truncate-medium">{{ stand.dimension.dimension }}
                                                </td>
                                                <td [routerLink]="['../stands', stand.id, 'view']"
                                                    class="clickable">
                                                    <fa-icon [class]="stand.status | colorStatus"
                                                             [icon]="stand.status | status"
                                                             [title]="'stand.status.list.' + stand.status | translate"></fa-icon>
                                                </td>
                                                <td class="text-end">
                                                    <div class="btn-group">
                                        <button-box
                                                (clickedEvent)="deleteEntity($event, stand, 'stand')"
                                                [showText]="false"
                                                primeIcon="pi-times"
                                                translateKey="common.delete"
                                                type="danger"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template #emptymessage>
                                            <tr>
                                                <td colspan="5">{{ 'stand.notFound' | translate }}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template #footer>
                                            <tr>
                                                <td colspan="4">
                                                    <button-box [links]="['../stands/new']"
                                                                [modeLink]="true"
                                                                primeIcon="pi-plus"
                                                                translateKey="participation.newStand"
                                                                type="success"/>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </p-tabpanel>
                                <p-tabpanel value="1">
                                    <p-table #conferenceTable
                                             [loading]="isLoading"
                                             [paginator]="true"
                                             [rowsPerPageOptions]="[10, 25, 50]"
                                             [rows]="10"
                                             [sortOrder]="-1"
                                             [value]="conferences"
                                             class="mt-2"
                                             dataKey="id"
                                             sortField="registrationDate">
                                        <ng-template #header>
                                            <tr>
                                                <th>{{ 'conference.titleField' | translate }}</th>
                                                <th>{{ 'conference.status.label' | translate }}</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template #body let-conference>
                                            <tr>
                                                <td [routerLink]="['../conferences', conference.id, 'view']"
                                                    class="clickable truncate"
                                                    style="white-space: nowrap">{{ conference.title }}
                                                </td>
                                                <td [routerLink]="['../conferences', conference.id, 'view']"
                                                    class="clickable">
                                                    <fa-icon [class]="conference.status | colorStatus"
                                                             [icon]="conference.status | status"
                                                             [title]="'conference.status.list.' + conference.status | translate"></fa-icon>
                                                </td>
                                                <td class="text-end">
                                                    <div class="btn-group">
                                                        <button-box
                                                                (clickedEvent)="deleteEntity($event, conference, 'conference')"
                                                                [showText]="false"
                                                                primeIcon="pi-plus"
                                                                translateKey="common.delete"
                                                                type="danger"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template #emptymessage>
                                            <tr>
                                                <td colspan="5">{{ 'conference.notFound' | translate }}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template #footer>
                                            <tr>
                                                <td colspan="3">
                                                    <button-box [links]="['../conferences/new']"
                                                                [modeLink]="true"
                                                                primeIcon="pi-plus"
                                                                translateKey="participation.newConference"
                                                                type="success"/>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </p-tabpanel>
                                <p-tabpanel value="2">
                                    <p-table #workshopTable
                                             [loading]="isLoading"
                                             [paginator]="true"
                                             [rowsPerPageOptions]="[10, 25, 50]"
                                             [rows]="10"
                                             [sortOrder]="-1"
                                             [value]="workshops"
                                             class="mt-2"
                                             dataKey="id"
                                             sortField="registrationDate">
                                        <ng-template #header>
                                            <tr>
                                                <th>{{ 'workshop.titleField' | translate }}</th>
                                                <th>{{ 'workshop.status.label' | translate }}</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template #body let-workshop>
                                            <tr>
                                                <td [routerLink]="['../workshops', workshop.id, 'view']"
                                                    class="clickable truncate"
                                                    style="white-space: nowrap">{{ workshop.title }}
                                                </td>
                                                <td [routerLink]="['../workshops', workshop.id, 'view']"
                                                    class="clickable">
                                                    <fa-icon [class]="workshop.status | colorStatus"
                                                             [icon]="workshop.status | status"
                                                             [title]="'workshop.status.list.' + workshop.status | translate"></fa-icon>
                                                </td>
                                                <td class="text-end">
                                                    <div class="btn-group">
                                        <button-box
                                                (clickedEvent)="deleteEntity($event, workshop, 'workshop')"
                                                [showText]="false"
                                                primeIcon="pi-times"
                                                translateKey="common.delete"
                                                type="danger"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template #emptymessage>
                                            <tr>
                                                <td colspan="5">{{ 'workshop.notFound' | translate }}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template #footer>
                                            <tr>
                                                <td colspan="3">
                                                    <button-box [links]="['../workshops/new']"
                                                                [modeLink]="true"
                                                                primeIcon="pi-plus"
                                                                translateKey="participation.newWorkshop"
                                                                type="success"/>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </p-tabpanel>
                            </p-tabpanels>
                        </p-tabs>
                    </div>
                </div>
            </div>
        </app-card>
    }
</app-content-page>