<div>
  <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate>
    <h2 id="page-heading">
      <div class="d-flex justify-content-center">
        <span *ngIf="editForm.controls.id.value" jhiTranslate="participation.edit">Détail d'une participation</span>
        <span *ngIf="!editForm.controls.id.value" jhiTranslate="participation.create">Création d'une nouvelle participation</span>
      </div>
      <hr/>

      <div class="d-flex justify-content-between mt-3">
        <span>
          <button-box (clickedEvent)="previousState()"
                      [isDisabled]="isLoading"
                      faIcon="arrow-left"
                      translateKey="common.back"/>
        </span>

        <span>
          <link-box *ngIf="isReadOnly"
                    [isDisabled]="isLoading"
                    [links]="['../billing']"
                    translateKey="participation.billing.title"
                    type="warning"/>
        </span>

        <span>
          <button-box (clickedEvent)="activateEditMode()"
                      *ngIf="isReadOnly"
                      [isDisabled]="isLoading"
                      faIcon="pencil-alt"
                      translateKey="common.edit"/>

          <button-box (clickedEvent)="activateReadOnlyMode()"
                      *ngIf="editForm.controls.id.value && !isReadOnly"
                      [isDisabled]="isLoading"
                      faIcon="ban"
                      translateKey="common.cancel"
                      type="secondary"/>

          <button-box *ngIf="!isReadOnly"
                      [isDisabled]="editForm.invalid || isLoading"
                      [isSubmit]="true"
                      faIcon="floppy-disk"
                      translateKey="common.save"/>
        </span>
      </div>
    </h2>

    <div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <div class="row">
        <div class="mt-3 col-12">
          <div class="card">
            <h5 class="card-header" jhiTranslate="common.info-basic">Information de base</h5>
            <div class="card-body">
              <div class="row">
                <div class="mt-3 col-sm-12 col-lg-3">
                  <typeahead-box [formatterFunction]="formatterExhibitor"
                                 [options]="exhibitorsOptions"
                                 fieldName="exhibitor"
                                 formControlName="exhibitor"
                                 translateKey="participation.exhibitor"/>
                </div>
                <div class="mt-3 col-sm-12 col-lg-3">
                  <text-box fieldName="therapistName" formControlName="therapistName" translateKey="exhibitor.therapistName"/>
                </div>
                <div class="mt-3 col-sm-6 col-lg-3">
                  <date-box fieldName="registrationDate" formControlName="registrationDate" translateKey="participation.registrationDate"/>
                </div>
                <div class="mt-3 col-sm-6 col-lg-3">
                  <select-box [formatterFunction]="formatterStatus"
                              [needTranslation]="true"
                              [options]="statusValues"
                              fieldName="status"
                              formControlName="status"
                              translateKey="participation.status.label"/>
                </div>
                <div class="mt-3 col-sm-4 col-lg-4">
                  <number-box fieldName="nbMeal1" formControlName="nbMeal1" translateKey="participation.nbMeal1"/>
                </div>

                <div class="mt-3 col-sm-4 col-lg-4">
                  <number-box fieldName="nbMeal2" formControlName="nbMeal2" translateKey="participation.nbMeal2"/>
                </div>

                <div class="mt-3 col-sm-4 col-lg-4">
                  <number-box fieldName="nbMeal3" formControlName="nbMeal3" translateKey="participation.nbMeal3"/>
                </div>
                <div class="mt-3 col-sm-4 col-xl-2">
                  <checkbox-box fieldName="acceptedChart" formControlName="acceptedChart" translateKey="participation.acceptedChart"/>
                </div>
                <div class="mt-3 col-sm-4 col-xl-2">
                  <checkbox-box fieldName="acceptedContract" formControlName="acceptedContract" translateKey="participation.acceptedContract"/>
                </div>
                <div class="mt-3 col-sm-4 col-xl-2">
                  <checkbox-box fieldName="needArrangement" formControlName="needArrangement" translateKey="participation.needArrangement"/>
                </div>
                <div class="mt-3 col-sm-4 col-xl-2">
                  <checkbox-box fieldName="crushOfHeart" formControlName="crushOfHeart" translateKey="participation.crushOfHeart"/>
                </div>
                <div class="mt-3 col-sm-4 col-xl-2">
                  <checkbox-box fieldName="guestOfHonor" formControlName="guestOfHonor" translateKey="participation.guestOfHonor"/>
                </div>

                <div class="mt-3 col-12">
                  <div class="d-flex flex-column flex-sm-row align-items-start gap-1 gap-sm-4">
                    <div class="flex-shrink-0">
                      <checkbox-box
                        fieldName="hasOffer"
                        formControlName="hasOffer"
                        translateKey="participation.hasOffer"/>
                    </div>

                    <div class="flex-grow-1 w-100" *ngIf="editForm.controls.hasOffer.value">
                      <text-box
                        fieldName="offer"
                        formControlName="offer"
                        translateKey="participation.offer"
                        class="w-100"/>
                    </div>
                  </div>
                </div>

                <div class="mt-3 col-12">
                  <textarea-box fieldName="additionnalInformation"
                                formControlName="additionnalInformation"
                                translateKey="participation.additionnalInformation"/>
                </div>
                <div class="mt-3 col-12">
                  <textarea-box fieldName="extraInformation" formControlName="extraInformation" translateKey="participation.extraInformation"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-3 col-lg-6">
          <div class="card h-100">
            <h5 class="card-header" jhiTranslate="stand.title">Les stands</h5>
            <div *ngIf="!isReadOnly" class="card-body">
              <div class="row">
                <div class="col-sm-12 align-content-center">
                  <label jhiTranslate="participation.cannot-show">No data can be shown during editing a participation </label>
                </div>
              </div>
            </div>
            <div *ngIf="isReadOnly" class="card-body">
              <div *ngIf="stands$ | async; let stands">
                <div>
                  <div class="d-flex justify-content-end">
                    <link-box [links]="['../stands/new']" faIcon="plus" translateKey="common.create" type="success"/>
                  </div>
                  <div class="table-responsive table-entities" id="entities-stands">
                    <table aria-describedby="page-heading" class="table table-hover">
                      <thead class="thead-primary">
                        <tr>
                          <th class="width-50">
                            <span jhiTranslate="stand.description">Description</span>
                          </th>
                          <th class="width-15">
                            <span jhiTranslate="stand.dimension">Dimension</span>
                          </th>
                          <th class="width-10 text-center">
                            <span jhiTranslate="stand.status.label">Statut</span>
                          </th>
                          <th class="width-10">&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        @if (stands.length === 0) {
                          <tr>
                            <td colspan="4">
                              <span jhiTranslate="stand.notFound">Aucun stand</span>
                            </td>
                          </tr>
                        } @else {
                          @for (stand of stands; track $index) {
                            <tr>
                              <td class="go-detail truncate"
                                  [routerLink]="['../stands', stand.id, 'view']">{{ stand.description }}
                              </td>
                              <td class="go-detail" [routerLink]="['../stands', stand.id, 'view']">{{ stand.dimension?.dimension }}</td>
                              <td class="go-detail text-center" [routerLink]="['../stands', stand.id, 'view']">
                                <fa-icon [icon]="stand.status | status"
                                         [class]="stand.status | colorStatus"
                                         [title]="'stand.status.list.' + stand.status | translate"></fa-icon>
                              </td>
                              <td class="text-end">
                                <div class="btn-group">
                                  <button-box (clickedEvent)="deleteEntity(stand, 'stand')"
                                              [showText]="false"
                                              type="danger"
                                              translateKey="common.delete"
                                              faIcon="times"/>
                                </div>
                              </td>
                            </tr>
                          }
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 col-lg-6">
          <div class="card h-100">
            <h5 class="card-header" jhiTranslate="conference.title">Les conférences</h5>
            <div class="card-body">
              @if (!isReadOnly) {
                <div class="col-12 align-content-center">
                  <label jhiTranslate="participation.cannot-show">No data can be shown during editing a participation </label>
                </div>
              } @else {
                <div *ngIf="conferences$ | async; let conferences" class="col-12">
                  <div class="d-flex justify-content-end">
                    <link-box [links]="['../conferences/new']" faIcon="plus" translateKey="common.create" type="success"/>
                  </div>

                  <div class="table-responsive table-entities" id="entities">
                    <table aria-describedby="page-heading" class="table table-hover">
                      <thead class="thead-primary">
                        <tr>
                          <th class="width-80">
                            <span jhiTranslate="conference.title">Title</span>
                          </th>
                          <th class="width-10 text-center">
                            <span jhiTranslate="conference.status.label">Status</span>
                          </th>
                          <th class="width-10">&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        @if (conferences.length === 0) {
                          <tr>
                            <td colspan="3">
                              <span jhiTranslate="conference.notFound">Aucune conference</span>
                            </td>
                          </tr>
                        } @else {
                          @for (conference of conferences; track $index) {
                            <tr>
                              <td class="go-detail truncate"
                                  style="white-space: nowrap"
                                  [routerLink]="['../conferences', conference.id, 'view']">{{ conference.title }}
                              </td>
                              <td class="go-detail text-center" [routerLink]="['../conferences', conference.id, 'view']">
                                <fa-icon [icon]="conference.status | status"
                                         [class]="conference.status | colorStatus"
                                         [title]="'conference.status.list.' + conference.status | translate"></fa-icon>
                              </td>
                              <td class="text-end">
                                <div class="btn-group">
                                  <button-box (clickedEvent)="deleteEntity(conference, 'conference')"
                                              [showText]="false"
                                              type="danger"
                                              translateKey="common.delete"
                                              faIcon="times"/>
                                </div>
                              </td>
                            </tr>
                          }
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
