<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (invoice()) {
      <div>
        <h2 data-cy="invoiceDetailsHeading"><span jhiTranslate="salonApp.invoice.detail.title">Invoice</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="salonApp.invoice.id">Id</span></dt>
          <dd>
            <span>{{ invoice()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.invoice.generationDate">Generation Date</span></dt>
          <dd>
            <span>{{ invoice()!.generationDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.invoice.label">Label</span></dt>
          <dd>
            <span>{{ invoice()!.label }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.invoice.defaultAmount">Default Amount</span></dt>
          <dd>
            <span>{{ invoice()!.defaultAmount }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.invoice.customAmount">Custom Amount</span></dt>
          <dd>
            <span>{{ invoice()!.customAmount }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.invoice.quantity">Quantity</span></dt>
          <dd>
            <span>{{ invoice()!.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.invoice.total">Total</span></dt>
          <dd>
            <span>{{ invoice()!.total }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.invoice.lock">Lock</span></dt>
          <dd>
            <span>{{ invoice()!.lock }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.invoice.extraInformation">Extra Information</span></dt>
          <dd>
            <span>{{ invoice()!.extraInformation }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.invoice.participation">Participation</span></dt>
          <dd>
            @if (invoice()!.participation) {
              <div>
                <a [routerLink]="['/participation', invoice()!.participation?.id, 'view']">{{ invoice()!.participation?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="common.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/invoice', invoice()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="common.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
