@if (filters.hasAnyFilterSet()) {
    <div class="filter-display">
        <span jhiTranslate="entity.filters.set">Following filters are set</span>
        <button (click)="clearAllFilters()" (keydown.enter)="clearAllFilters()" class="btn">
            <fa-icon [title]="'entity.filters.clearAll' | translate" icon="times"></fa-icon>
        </button>
        <ul>
            @for (filterOption of filters.filterOptions; track filterOption.name) {
                @for (value of filterOption.values; track value) {
                    <li>
                        <span>{{ filterOption.name }}:</span>
                        {{ value }}
                        <button (click)="clearFilter(filterOption.name, value)" (keydown.enter)="clearFilter(filterOption.name, value)"
                                class="btn">
                            <fa-icon [title]="'entity.filters.clear' | translate" icon="times"></fa-icon>
                        </button>
                    </li>
                }
            }
        </ul>
    </div>
}
