<div>
    @if (translateKey) {
        <div>
            <label [for]="'field_' + fieldName" class="fw-bold">
                {{ translateKey | translate }}
                @if (control.hasValidator(Validators.required)) {
                    <span class="text-danger">*</span>
                }
            </label>
        </div>
    }
    <div class="mt-4">
        <p-listbox
                [options]="options"
                [(ngModel)]="selectedItems"
                (ngModelChange)="onSelectionChange($event)"
                showToggleAll="false"
                [multiple]="true"
                [checkbox]="true"
                optionLabel="label"
                [disabled]="disabled"
                [listStyle]="{ 'max-height': '300px' }"
                fluid>
            <ng-template let-item pTemplate="item">
                <div class="d-flex align-items-center">
                    <span>{{ item.label }}</span>
                </div>
            </ng-template>
        </p-listbox>
        @if (control.errors && control.touched) {
            <error-box [formControlElement]="control"/>
        }
    </div>
</div>
