@if (salon) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(salon.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="salonDeleteDialogHeading" jhiTranslate="common.delete">Confirmation de suppression</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-salon-heading" jhiTranslate="salonApp.salon.delete.question" [translateValues]="{ id: salon.place }">
        Êtes-vous certain de vouloir supprimer le Salon {{ salon.place }} ?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="common.cancel">Annuler</span>
      </button>

      <button id="jhi-confirm-delete-salon" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="common.delete">Supprimer</span>
      </button>
    </div>
  </form>
}
