<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-participation-heading"
        data-cy="ParticipationCreateUpdateHeading"
        jhiTranslate="salonApp.participation.home.createOrEditLabel"
      >
        Créer ou éditer un Participation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="salonApp.participation.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_registrationDate" jhiTranslate="salonApp.participation.registrationDate"
            >Registration Date</label
          >
          <div class="d-flex">
            <input
              id="field_registrationDate"
              data-cy="registrationDate"
              type="datetime-local"
              class="form-control"
              name="registrationDate"
              formControlName="registrationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nbMeal1" jhiTranslate="salonApp.participation.nbMeal1">Nb Meal 1</label>
          <input type="number" class="form-control" name="nbMeal1" id="field_nbMeal1" data-cy="nbMeal1" formControlName="nbMeal1" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nbMeal2" jhiTranslate="salonApp.participation.nbMeal2">Nb Meal 2</label>
          <input type="number" class="form-control" name="nbMeal2" id="field_nbMeal2" data-cy="nbMeal2" formControlName="nbMeal2" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nbMeal3" jhiTranslate="salonApp.participation.nbMeal3">Nb Meal 3</label>
          <input type="number" class="form-control" name="nbMeal3" id="field_nbMeal3" data-cy="nbMeal3" formControlName="nbMeal3" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_acceptedChart" jhiTranslate="salonApp.participation.acceptedChart">Accepted Chart</label>
          <input
            type="checkbox"
            class="form-check"
            name="acceptedChart"
            id="field_acceptedChart"
            data-cy="acceptedChart"
            formControlName="acceptedChart"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_acceptedContract" jhiTranslate="salonApp.participation.acceptedContract"
            >Accepted Contract</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="acceptedContract"
            id="field_acceptedContract"
            data-cy="acceptedContract"
            formControlName="acceptedContract"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_needArrangment" jhiTranslate="salonApp.participation.needArrangment">Need Arrangment</label>
          <input
            type="checkbox"
            class="form-check"
            name="needArrangment"
            id="field_needArrangment"
            data-cy="needArrangment"
            formControlName="needArrangment"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isBillingClosed" jhiTranslate="salonApp.participation.isBillingClosed"
            >Is Billing Closed</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isBillingClosed"
            id="field_isBillingClosed"
            data-cy="isBillingClosed"
            formControlName="isBillingClosed"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="salonApp.participation.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'salonApp.Status.null' | translate }}</option>
            @for (status of statusValues; track $index) {
              <option [value]="status">{{ 'salonApp.Status.' + status | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_extraInformation" jhiTranslate="salonApp.participation.extraInformation"
            >Extra Information</label
          >
          <input
            type="text"
            class="form-control"
            name="extraInformation"
            id="field_extraInformation"
            data-cy="extraInformation"
            formControlName="extraInformation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_exponent" jhiTranslate="salonApp.participation.exponent">Exponent</label>
          <select
            class="form-control"
            id="field_exponent"
            data-cy="exponent"
            name="exponent"
            formControlName="exponent"
            [compareWith]="compareExponent"
          >
            <option [ngValue]="null"></option>
            @for (exponentOption of exponentsSharedCollection; track $index) {
              <option [ngValue]="exponentOption">{{ exponentOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_salon" jhiTranslate="salonApp.participation.salon">Salon</label>
          <select class="form-control" id="field_salon" data-cy="salon" name="salon" formControlName="salon" [compareWith]="compareSalon">
            <option [ngValue]="null"></option>
            @for (salonOption of salonsSharedCollection; track $index) {
              <option [ngValue]="salonOption">{{ salonOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="common.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="common.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
