<div>
    <h2 id="page-heading">
        <div class="d-flex justify-content-center">
            <span jhiTranslate="authority.title">Les authorités</span>
        </div>
        <hr/>
        <div class="d-flex justify-content-between mt-4">
            <span>
                <button-box (clickedEvent)="previousState()"
                            [isDisabled]="isLoading"
                            [showText]="false"
                            primeIcon="pi-arrow-left" translateKey="common.back"/>
            </span>

            <span>
                <button-box (clickedEvent)="load()" [isDisabled]="isLoading" [showText]="true" primeIcon="pi-refresh" translateKey="common.refresh" type="primary"/>

                <button-box [modeLink]="true" [links]="['./new']" [showText]="true" primeIcon="pi-plus" translateKey="common.create" type="success"/>
            </span>
        </div>
    </h2>

    <p-confirm-dialog/>
    <app-alert-error></app-alert-error>



    @if (authorities) {
        <div class="table-responsive table-entities" id="entities">
            <table aria-describedby="page-heading" class="table table-hover">
                <thead class="thead-primary">
                <tr (sortChange)="navigateToWithComponentValues($event)" [sortState]="sortState" jhiSort>
                    <th class="text-white" jhiSortBy="name">
                        <div class="d-flex">
                            <span jhiTranslate="authority.name">Name</span>

                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                    </th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    @if (authorities.length === 0) {
                        <tr>
                            <td colspan="2">
                                <span jhiTranslate="authority.home.notFound">Aucun Authority</span>
                            </td>
                        </tr>
                    } @else {
                        @for (authority of authorities; track trackName($index, authority)) {
                            <tr>
                                <td [routerLink]="['./', authority.name, 'view']" class="clickable">
                                    {{ authority.name }}
                                </td>
                                <td class="text-end">
                                    <div class="btn-group">
                                        <button-box (clickedEvent)="delete($event, authority)"
                                                    [showText]="true"
                                                    primeIcon="pi-times"
                                                    translateKey="common.delete"
                                                    type="danger"/>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>
