<p-iftalabel>
    <textarea pTextarea
              id="over_label"
              [formControl]="control"
              rows="5"
              [invalid]="control.invalid && control.touched"
              cols="30"
              fluid></textarea>

    @if (translateKey) {
        <label [for]="'field_' + fieldName">
            {{ translateKey | translate }}
            @if (control.hasValidator(Validators.required)) {
                <span class="danger-icon">*</span>
            }
        </label>
    }
</p-iftalabel>

@if (control.errors) {
    <error-box [formControlElement]="control"/>
}
@if (showCounter && maxLength) {
    <small class="fw-light">({{ control.value?.length ?? 0 }} / {{ maxLength }})</small>
}
@if (showCounter && !maxLength) {
    <small class="fw-light">({{ control.value?.length ?? 0 }})</small>
}