<label *ngIf="translateKey" [for]="'field_' + fieldName" class="fw-bold">{{ translateKey | translate }}
  <span *ngIf="this.control?.hasValidator(Validators.required)" class="danger-icon">*</span>
</label>
<textarea (blur)="onTouched()"
          (input)="onInput($event)"
          [disabled]="disabled"
          [id]="'field_' + fieldName" [ngClass]="{'invalid': this.control.invalid && this.control.touched}"
          [value]="value"
          class="form-control"
          rows="{{rows}}"
          type="text"></textarea>

<small *ngIf="showCounter && maxLength" class="fw-light">({{ this.control.value?.length ?? 0 }} / {{ maxLength }})</small>
<small *ngIf="showCounter && !maxLength" class="fw-light">({{ this.control.value?.length ?? 0 }})</small>
<error-box *ngIf="this.control.errors" [formControlElement]="this.control"/>
