<label [for]="'field_' + fieldName" class="fw-bold">{{ translateKey ?? '' | translate }}
  <span *ngIf="this.controlDir.control?.hasValidator(Validators.required)" class="danger-icon">*</span>
</label>
<input
  [formControl]="control"
  [id]="'field_' + fieldName"
  [ngClass]="{'invalid': this.controlDir.control?.invalid && this.controlDir.control?.touched}"
  [ngbTypeahead]="search"
  [placement]="'bottom-start'"
  [inputFormatter]="formatterFunction"
  [resultFormatter]="formatterFunction"
  [editable]="false"
  [selectOnExact]="true"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  [focusFirst]="false"
  #instance="ngbTypeahead"
  autocomplete="off"
  class="form-control"
  type="text"/>
<error-box *ngIf="this.control.errors" [formControlElement]="this.control"/>
