<app-content-page>
    <div appMenuBarStart>
        <h3 jhiTranslate="participation.billing.title">Détail de la participation</h3>
    </div>
    <div appMenuBarEnd>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading"
                    [showText]="false"
                    primeIcon="pi-arrow-left"
                    translateKey="common.back"/>
    </div>
    <app-alert-error></app-alert-error>


    <p-confirmpopup/>
    <app-card>
        <div appCardHeader>
            <div class="d-flex w-100 justify-content-between">
                <h4>{{ 'invoicingPlan.invoicingPlans' | translate }}</h4>
                <button-box (clickedEvent)="generate()" [showText]="true" primeIcon="pi-refresh" translateKey="common.refresh" type="primary"/>
            </div>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-12">
                    <p-accordion (onClose)="onClosingCollapseChange($event)"
                                 (onOpen)="onOpeningCollapseChange($event)"
                                 [(value)]="openPlanId">
                        @for (invoicingPlan of (invoicingPlans$ | async); track invoicingPlan.id) {
                            <p-accordion-panel [value]="invoicingPlan.id">
                                <p-accordion-header>
                                    <div class="flex-grow-1  me-4">
                                        <div class="d-flex justify-content-between">
                                            <span>
                                                <u>
                                                    <span [translateValues]="{ billingNumber: invoicingPlan.billingNumber }"
                                                          jhiTranslate="invoicingPlan.title"></span>
                                                </u>
                                            </span>
                                            <span>
                                                <h5 class="m-0">
                                                    <p-badge [ngClass]="getInvoicingPlanStateBadgeClass(invoicingPlan)"
                                                             [title]="isDraftState(invoicingPlan)
                                                            ? ('Généré le ' + (invoicingPlan.generationDate | formatMediumDate))
                                                            : ('Envoyé le ' + (invoicingPlan.issuedDate | formatMediumDate))"
                                                             [value]="'invoicingPlan.state.' + invoicingPlan.state | translate | uppercase"
                                                             badgeSize="large"/>
                                                </h5>
                                            </span>
                                        </div>
                                        <div class="ms-1">
                                            <small>
                                                Solde restant : {{ remainingTotal(invoicingPlan) | currency: 'CHF' }}
                                            </small>
                                        </div>
                                        <div class="col-6 align-content-center ms-1">
                                            @if (invoicingPlan.needArrangement) {
                                                <fa-icon [class]="openPlanId === invoicingPlan.id ? 'text-white' : 'text-primary'"
                                                         [title]="'invoicingPlan.needArrangement.checked' | translate"
                                                         icon="handshake-simple"
                                                         size="lg"></fa-icon>
                                            }
                                            @if (invoicingPlan.invoiceSendingMethod === InvoiceSendingMethod.POSTAL) {
                                                <fa-icon [class]="openPlanId === invoicingPlan.id ? 'text-white' : 'text-primary'"
                                                         [title]="'participation.invoiceSendingMethod.list.' + invoicingPlan.invoiceSendingMethod | translate"
                                                         icon="envelope"
                                                         size="lg"></fa-icon>
                                            }
                                            @if (isIssuedState(invoicingPlan) && isDateExpired(invoicingPlan)) {
                                                <fa-icon [title]="'Expiré depuis le ' + (invoicingPlan.expirationDate | formatMediumDate)"
                                                         class="text-danger"
                                                         icon="clock"
                                                         size="lg"></fa-icon>
                                            } @else if (!isDraftState(invoicingPlan)) {
                                                <fa-icon [class]="openPlanId === invoicingPlan.id ? 'text-white' : 'text-primary'"
                                                         [title]="'Date d\'expiration ' + (invoicingPlan.expirationDate | formatMediumDate)"
                                                         icon="clock"
                                                         size="lg"></fa-icon>
                                            }
                                        </div>
                                    </div>
                                </p-accordion-header>
                                <p-accordion-content>
                                    <div class="row">
                                        <div class="col-12 text-end">
                                            @if (showInvoicingAction(invoicingPlan)) {
                                                <div class="d-flex justify-content-end align-items-center mt-4 gap-2">
                                                    <fa-icon (click)="openHistoryModalForInvoicingPlan(invoicingPlan)"
                                                             [title]="'event.buttonTitle' | translate"
                                                             class="clickable"
                                                             icon="clock-rotate-left"></fa-icon>
                                                    <menu-box [items]="menuCachePlans.get(invoicingPlan.id) ?? []"
                                                              buttonIcon="pi-list"
                                                              buttonTranslateKey="common.actions"/>
                                                </div>
                                            }
                                        </div>

                                        <div class="mt-4 col-12 table-responsive table-entities">
                                            <table aria-describedby="page-heading" class="table table-hover">
                                                <thead class="thead-primary">
                                                <tr>
                                                    <th>
                                                        <span jhiTranslate="invoicingPlan.header.date">Date</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="invoicingPlan.header.label">Libellé
                                                        </span>
                                                    </th>
                                                    <th class="text-center">
                                                        <span>&nbsp;</span>
                                                    </th>
                                                    <th class="text-center">
                                                        <span jhiTranslate="invoicingPlan.header.amount">Montant
                                                        </span>
                                                    </th>
                                                    <th class="text-center">
                                                        <span jhiTranslate="invoicingPlan.header.qty">Quantité
                                                        </span>
                                                    </th>
                                                    <th class="text-center">
                                                        <span jhiTranslate="invoicingPlan.header.sum">Total</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="invoicingPlan.header.comment">
                                                            Commentaire
                                                        </span>
                                                    </th>
                                                    <th>
                                                        <span>&nbsp;</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody style="border: 1px solid grey">
                                                    @if (invoicingPlan.invoices; as invoices) {
                                                        <tr>
                                                            <td class="align-middle fw-bold"
                                                                colspan="7"
                                                                jhiTranslate="invoicingPlan.invoices.label">
                                                                Factures
                                                            </td>
                                                            <td class="align-middle text-end">
                                                                @if (showCreateInvoice(invoicingPlan)) {
                                                                    <button-box (clickedEvent)="addInvoice(invoicingPlan)"
                                                                                [showText]="false"
                                                                                primeIcon="pi-plus"
                                                                                translateKey="common.create"
                                                                                type="success"/>
                                                                }
                                                            </td>
                                                        </tr>
                                                        @if (!invoices.length) {
                                                            <tr>
                                                                <td colspan="8">
                                                                    <span jhiTranslate="invoicingPlan.invoices.notFound">
                                                                        Aucune facture
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        } @else if (invoices.length) {
                                                            @for (invoice of invoices; track $index) {
                                                                <tr>
                                                                    <td class="align-middle">{{ invoice.generationDate | formatMediumDate }}</td>
                                                                    <td class="align-middle">{{ invoice.label }}</td>

                                                                    <td class="text-center align-middle">
                                                                        @if (hasDiffCustomAndDefault(invoice) && invoice.id) {
                                                                            <fa-icon [title]="'invoicingPlan.amount.different' | translate: { defaultPrice: invoice.defaultAmount }"
                                                                                     class="text-warning"
                                                                                     icon="circle-info"></fa-icon>
                                                                        }
                                                                        &nbsp;
                                                                    </td>
                                                                    <td class="text-center align-middle">
                                                                        {{ invoice.customAmount | currency: 'CHF' }}
                                                                    </td>
                                                                    <td class="text-center align-middle">{{ invoice.quantity }}</td>
                                                                    <td class="text-center align-middle">
                                                                        {{ (invoice.quantity ?? 1) * (invoice.customAmount ?? 0) | currency: 'CHF' }}
                                                                    </td>
                                                                    <td class="align-middle">
                                                                        <span class="text-muted fst-italic">{{ invoice.extraInformation }}</span>
                                                                    </td>
                                                                    <td class="text-end align-middle">
                                                                        @if (showInvoiceActions(invoicingPlan)) {
                                                                            <span>
                                                                                <button-box
                                                                                        (clickedEvent)="editInvoice(invoicingPlan, invoice)"
                                                                                        [showText]="false"
                                                                                        primeIcon="pi-pencil"
                                                                                        translateKey="common.edit"/>
                                                                                @if (!invoice.type || invoice.type === 'OTHERS') {
                                                                                    <button-box
                                                                                            (clickedEvent)="deleteInvoice(invoicingPlan, invoice)"
                                                                                            [showText]="false"
                                                                                            primeIcon="pi-times"
                                                                                            translateKey="common.delete"
                                                                                            type="danger"/>
                                                                                }
                                                                            </span>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                    @if (!isDraftState(invoicingPlan)) {
                                                        @if (invoicingPlan.payments; as payments) {
                                                            <tr>
                                                                <td class="align-middle fw-bold"
                                                                    colspan="7"
                                                                    jhiTranslate="invoicingPlan.payments.label">
                                                                    Paiements
                                                                </td>
                                                                <td class="align-middle text-end">
                                                                    @if (showCreatePayment(invoicingPlan)) {
                                                                        <button-box (clickedEvent)="addPayment(invoicingPlan)"
                                                                                    [showText]="false"
                                                                                    primeIcon="pi-plus"
                                                                                    translateKey="common.create"
                                                                                    type="success"/>
                                                                    }
                                                                </td>
                                                            </tr>
                                                            @if (!payments.length) {
                                                                <tr>
                                                                    <td colspan="8">
                                                                        <span jhiTranslate="invoicingPlan.payments.notFound">
                                                                            Aucun paiement
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            @if (payments.length) {
                                                                @for (payment of payments; track $index) {
                                                                    <tr>
                                                                        <td class="align-middle">{{ payment.billingDate | formatMediumDate }}</td>
                                                                        <td class="align-middle">
                                                                            <span class="text-muted fst-italic">{{ payment.extraInformation }}</span>
                                                                        </td>
                                                                        <td class="align-middle">
                                                                            {{ 'payment.type.list.' + payment.paymentMode | translate }}
                                                                        </td>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                        <td class="text-center align-middle">
                                                                            {{ payment.amount | currency: 'CHF' }}
                                                                        </td>
                                                                        <td>&nbsp;</td>
                                                                        <td class="text-end align-middle">
                                                                            @if (showPaymentActions(invoicingPlan)) {
                                                                                <span>
                                                                                    <button-box
                                                                                            (clickedEvent)="editPayment(invoicingPlan, payment)"
                                                                                            [showText]="false"
                                                                                            primeIcon="pi-pencil"
                                                                                            translateKey="common.edit"/>
                                                                                    <button-box
                                                                                            (clickedEvent)="deletePayment(invoicingPlan, payment)"
                                                                                            [showText]="false"
                                                                                            primeIcon="pi-times"
                                                                                            translateKey="common.delete"
                                                                                            type="danger"/>
                                                                                </span>
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }

                                                    }
                                                <tr>
                                                    <td class="table-section-ending align-middle"
                                                        jhiTranslate="invoicingPlan.result">Résultat
                                                    </td>
                                                    <td class="table-section-ending" colspan="4">&nbsp;</td>
                                                    <td class="table-section-ending text-center align-middle">
                                                        {{ remainingTotal(invoicingPlan) | currency: 'CHF' }}
                                                    </td>
                                                    <td class="table-section-ending">&nbsp;</td>
                                                    <td class="table-section-ending">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </p-accordion-content>
                            </p-accordion-panel>
                        }
                    </p-accordion>
                </div>
            </div>
        </div>
    </app-card>

    <!-- ── Dialog : Ligne de facture ────────────────────────────────────── -->
    @if (showInvoiceDialog()) {
        <dialog-box (cancel)="onInvoiceDialogCancel()"
                    (confirm)="onInvoiceDialogConfirm($event)"
                    [(visible)]="showInvoiceDialog"
                    [header]="editingInvoice ? ('invoicingPlan.invoice.dialog.edit' | translate) : ('invoicingPlan.invoice.dialog.create' | translate)"
                    [mode]="'edit'"
                    [confirmLabel]="'common.save'">
            <app-invoice-form [invoice]="editingInvoice"/>
        </dialog-box>
    }

    <!-- ── Dialog : Paiement ────────────────────────────────────────────── -->
    @if (showPaymentDialog()) {
        <dialog-box (cancel)="onPaymentDialogCancel()"
                    (confirm)="onPaymentDialogConfirm($event)"
                    [(visible)]="showPaymentDialog"
                    [header]="editingPayment ? ('invoicingPlan.payment.dialog.edit' | translate) : ('invoicingPlan.payment.dialog.create' | translate)"
                    [mode]="'edit'"
                    [confirmLabel]="'common.save'">
            <app-payment-form [payment]="editingPayment"/>
        </dialog-box>
    }

</app-content-page>