<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (payment()) {
      <div>
        <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="salonApp.payment.detail.title">Payment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="salonApp.payment.id">Id</span></dt>
          <dd>
            <span>{{ payment()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.payment.amount">Amount</span></dt>
          <dd>
            <span>{{ payment()!.amount }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.payment.billingDate">Billing Date</span></dt>
          <dd>
            <span>{{ payment()!.billingDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.payment.paymentMode">Payment Mode</span></dt>
          <dd>
            <span [jhiTranslate]="'salonApp.Mode.' + (payment()!.paymentMode ?? 'null')">{{
              { null: '', BANK: 'BANK', CASH: 'CASH', SERVICE: 'SERVICE', OTHER: 'OTHER' }[payment()!.paymentMode ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.payment.extraInformation">Extra Information</span></dt>
          <dd>
            <span>{{ payment()!.extraInformation }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.payment.participation">Participation</span></dt>
          <dd>
            @if (payment()!.participation) {
              <div>
                <a [routerLink]="['/participation', payment()!.participation?.id, 'view']">{{ payment()!.participation?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="common.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/payment', payment()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="common.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
