<app-content-page [formGroup]="editForm">
    <div appMenuBarStart>
        @if (editForm.controls.id.value) {
            <h3>{{ 'workshop.edit' | translate }}</h3>
        } @else {
            <h3>{{ 'workshop.create' | translate }}</h3>
        }
    </div>
    <div appMenuBarEnd>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading"
                    [showText]="false"
                    primeIcon="pi-arrow-left"
                    translateKey="common.back"/>
        @if (isReadOnly) {
            <button-box (clickedEvent)="edit()"
                        [isDisabled]="isLoading"
                        [showText]="false"
                        primeIcon="pi-pencil"
                        translateKey="common.edit"/>
        }

        @if (editForm.controls.id.value && !isReadOnly) {
            <button-box (clickedEvent)="cancel()"
                        [isDisabled]="isLoading"
                        [showText]="false"
                        primeIcon="pi-ban"
                        translateKey="common.cancel"
                        type="secondary"/>
        }

        @if (!isReadOnly) {
            <button-box (clickedEvent)="save()"
                        [isDisabled]="editForm.invalid || isLoading"
                        [isSubmit]="true"
                        [showText]="false"
                        primeIcon="pi-save"
                        translateKey="common.save"/>
        }
    </div>
    <app-alert-error></app-alert-error>


    <p-confirmpopup/>
    <app-card>
        <div appCardHeader>
            <h4>{{ 'common.info-basic' | translate }}</h4>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-12">
                    <text-box fieldName="title" formControlName="title" translateKey="workshop.titleField"/>
                </div>
                <div class="mt-4 col-12">
                    <textarea-box [maxLength]="500"
                                  [rows]="6"
                                  [showCounter]="true"
                                  fieldName="description"
                                  formControlName="description"
                                  translateKey="workshop.description"/>
                </div>
            </div>
        </div>
    </app-card>
    <app-card>
        <div appCardHeader>
            <h4>{{ 'common.info-intern' | translate }}</h4>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-sm-6 d-flex">
                    <select-box [enableFilter]="true"
                                [filterFields]="selectFilterParticipation()"
                                [formatterFunction]="formatterParticipation"
                                [options]="participationsOptions"
                                class="w-100"
                                fieldName="participation"
                                formControlName="participation"
                                translateKey="workshop.participation"/>
                    @if (isReadOnly) {
                        <link-box [links]="['/admin', 'salons', eventId, 'participations', editForm.controls.participation.value?.id ?? '','view']"
                                  [showText]="false"
                                  class="align-content-center link-box-append"
                                  primeIcon="pi-link"/>
                    }
                </div>
                <div class="mt-4 col-sm-6">
                    <select-box [formatterFunction]="formatterStatus"
                                [needTranslation]="true"
                                [options]="statusValues"
                                fieldName="status"
                                formControlName="status"
                                translateKey="workshop.status.label"/>
                </div>
                <div class="mt-4 col-12">
                    <textarea-box [rows]="3"
                                  fieldName="extraInformation"
                                  formControlName="extraInformation"
                                  translateKey="workshop.extraInformation"/>
                </div>
            </div>
        </div>
    </app-card>
</app-content-page>
