<div>

  <h2 id="page-heading">
    <div class="d-flex justify-content-center">
      <span jhiTranslate="stand.edit">Planification des bénévoles</span>
    </div>
    <hr/>

    <div class="d-flex justify-content-between mt-3">

      <button-box (clickedEvent)="previousState()"
                  [isDisabled]="isLoading"
                  faIcon="arrow-left"
                  translateKey="common.back"/>
    </div>
  </h2>

  @if (timeSlotsMap | async; as timeslotsPerDate) {
    <daily-planning *ngFor="let timeslots of timeslotsPerDate | keyvalue"
                    [timeslots]="timeslots.value"
                    [categories]="['Buvette', 'Vaisselle', 'Cuisine', 'Pause', '-']"
                    [lines]="lines()"></daily-planning>
  }
</div>
