<form (ngSubmit)="confirmDelete()" name="deleteForm">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="common.delete">Confirmation de suppression</h4>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-conference-heading" [translateValues]="translateValues" [jhiTranslate]="translateKey"></p>
  </div>

  <div class="modal-footer">
    <button (click)="cancel()" class="btn btn-secondary" data-dismiss="modal" type="button">
      <fa-icon [title]="'common.cancel' | translate" icon="ban"></fa-icon>
      <span jhiTranslate="common.cancel">Cancel</span>
    </button>

    <button class="btn btn-danger" id="jhi-confirm-delete" type="submit">
      <fa-icon [title]="'common.delete' | translate" icon="times"></fa-icon>
      <span jhiTranslate="common.delete">Delete</span>
    </button>
  </div>
</form>
