<app-content-page>
    <div appMenuBarStart>
        <h3 jhiTranslate="salon.title">Les salons</h3>
    </div>
    <div appMenuBarEnd>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading"
                    [showText]="false"
                    primeIcon="pi-arrow-left"
                    translateKey="common.back"/>
        <split-menu-box [items]="actionMenuItems"
                        [buttonDisabled]="isLoading"/>
    </div>
    <app-alert-error></app-alert-error>


    <p-confirmpopup/>
    <app-card [showHeader]="false">
        <div appCardBody>
            <div class="row">
                <p-table #dt2
                         [globalFilterFields]="['place', 'referenceNumber']"
                         [loading]="isLoading"
                         [paginator]="true"
                         [rowsPerPageOptions]="[10, 25, 50]"
                         [rows]="10"
                         [sortOrder]="-1"
                         [tableStyle]="{ 'min-width': '60rem' }"
                         [value]="salons"
                         dataKey="id"
                         sortField="startingDate">
                    <ng-template #caption>
                        <div class="flex">
                            <p-iconfield class="ml-auto" iconPosition="left">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input (input)="dt2.filterGlobal($event.target.value, 'contains')" pInputText
                                       placeholder="Recherche"
                                       type="text"/>
                            </p-iconfield>
                        </div>
                    </ng-template>
                    <ng-template #header>
                        <tr>
                            <th pSortableColumn="place">{{ 'salon.place' | translate }}
                                <p-sortIcon field="place"/>
                            </th>
                            <th pSortableColumn="referenceNumber">{{ 'salon.referenceNumber' | translate }}
                                <p-sortIcon field="referenceNumber"/>
                            </th>
                            <th pSortableColumn="startingDate">
                                {{ 'salon.startingDate' | translate }}
                                <p-sortIcon field="startingDate"/>
                                <p-columnFilter display="menu"
                                                field="startingDate"
                                                matchMode="dateAfter"
                                                size="small"
                                                type="date"></p-columnFilter>
                            </th>
                            <th pSortableColumn="endingDate">
                                {{ 'salon.endingDate' | translate }}
                                <p-sortIcon field="endingDate"/>
                                <p-columnFilter display="menu"
                                                field="endingDate"
                                                matchMode="dateBefore"
                                                size="small"
                                                type="date"></p-columnFilter>
                            </th>
                            <th>&nbsp;</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-salon>
                        <tr>
                            <td [routerLink]="['./', salon.id, 'participations']"
                                class="clickable truncate-medium">{{ salon.place }}
                            </td>
                            <td [routerLink]="['./', salon.id, 'participations']"
                                class="clickable truncate-small">{{ salon.referenceNumber }}
                            </td>
                            <td [routerLink]="['./', salon.id, 'participations']" class="clickable truncate-small">{{
                                    salon.startingDate | formatMediumDate
                                }}
                            </td>
                            <td [routerLink]="['./', salon.id, 'participations']" class="clickable truncate-small">{{
                                    salon.endingDate | formatMediumDate
                                }}
                            </td>
                            <td class="text-end">
                                <div class="btn-group">
                                    <button-box (clickedEvent)="delete($event, salon)"
                                                [showText]="false"
                                                primeIcon="pi-times"
                                                translateKey="common.delete"
                                                type="danger"/>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="5">{{ 'salon.notFound' | translate }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </app-card>
</app-content-page>
