<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end">
            <button-box (clickedEvent)="addVolunteer()"
                        primeIcon="pi-plus"
                        translateKey="common.create"
                        type="success"/>
        </div>
        <p-table [value]="volunteers()" [rowHover]="true" [dataKey]="'id'">
            <ng-template pTemplate="header">
                <tr>
                    <th>Label</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-v>
                <tr>
                    <td>
                        <input pInputText
                               [fluid]="true"
                               [ngModel]="volunteerLabel(v)"
                               (ngModelChange)="setVolunteerLabelDraft(v.id, $event)"
                               (blur)="commitVolunteerLabel(v.id)"
                               (keydown.enter)="commitVolunteerLabel(v.id)"/>
                    </td>

                    <td class="text-end">
                        <button-box (clickedEvent)="deleteVolunteer(v.id, v.label)"
                                    [showText]="false"
                                    primeIcon="pi-times"
                                    translateKey="common.delete"
                                    type="danger"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>