<div>
    <div class="d-flex justify-content-center">
        <div class="col-md-4">
            <h1 jhiTranslate="reset.finish.title">Réinitialisation du mot de passe</h1>

            @if (initialized() && !key()) {
                <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing">La clef de
                    réinitilisation est manquante
                </div>
            }
            @if (key() && !success()) {
                <div class="alert">
                    <span jhiTranslate="reset.finish.messages.info">Choisir un nouveau mot de passe</span>
                </div>
            }
            @if (error()) {
                <div class="alert alert-danger">
          <span jhiTranslate="reset.finish.messages.error">Votre mot de passe n&apos;a pas pu être réinitialisé. La demande de réinitialisation n&apos;est valable que 24 heures.
          </span>
                </div>
            }
            @if (success()) {
                <div class="alert alert-success">
          <span jhiTranslate="reset.finish.messages.success"><strong>Votre mot de passe a été réinitialisé.</strong> Merci de
          </span>
                    <a class="alert-link" jhiTranslate="global.messages.info.authenticated.link" routerLink="/login">connecter</a>.
                </div>
            }
            @if (doNotMatch()) {
                <div class="alert alert-danger" jhiTranslate="global.messages.error.dontmatch">
                    Le nouveau mot de passe et sa confirmation ne sont pas égaux !
                </div>
            }
            @if (key() && !success()) {
                <div>
                    <form (ngSubmit)="finishReset()" [formGroup]="passwordForm" name="form">
                        <div class="mb-3 position-relative">
                            <label class="form-label" for="newPassword" jhiTranslate="global.form.newpassword.label">Nouveau
                                mot de passe </label>
                            <input #newPassword
                                   [placeholder]="'global.form.newpassword.placeholder' | translate"
                                   class="form-control"
                                   formControlName="newPassword"
                                   id="newPassword"
                                   name="newPassword"
                                   type="password"/>

                            <field-error [errors]="[ErrorModel.required(), ErrorModel.minlength(4), ErrorModel.maxlength(50)]"
                                         [formControlElement]="getNewPassword"></field-error>

                            <app-password-strength-bar
                                    [passwordToCheck]="passwordForm.get('newPassword')!.value"></app-password-strength-bar>
                        </div>

                        <div class="mb-3 position-relative">
                            <label class="form-label"
                                   for="confirmPassword"
                                   jhiTranslate="global.form.confirmpassword.label">Confirmation du nouveau mot de
                                passe </label>
                            <input [placeholder]="'global.form.confirmpassword.placeholder' | translate"
                                   class="form-control"
                                   formControlName="confirmPassword"
                                   id="confirmPassword"
                                   name="confirmPassword"
                                   type="password"/>

                            <field-error [errors]="[ErrorModel.required(), ErrorModel.minlength(4), ErrorModel.maxlength(50)]"
                                         [formControlElement]="getConfirmPassword"></field-error>
                        </div>

                        <button-box [isDisabled]="passwordForm.invalid" [isSubmit]="true" translateKey="reset.finish.form.button" type="primary"/>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
