<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (exponent()) {
      <div>
        <h2 data-cy="exponentDetailsHeading"><span jhiTranslate="salonApp.exponent.detail.title">Exponent</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="salonApp.exponent.id">Id</span></dt>
          <dd>
            <span>{{ exponent()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.exponent.fullName">Full Name</span></dt>
          <dd>
            <span>{{ exponent()!.fullName }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.exponent.email">Email</span></dt>
          <dd>
            <span>{{ exponent()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.exponent.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ exponent()!.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.exponent.address">Address</span></dt>
          <dd>
            <span>{{ exponent()!.address }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.exponent.npaLocalite">Npa Localite</span></dt>
          <dd>
            <span>{{ exponent()!.npaLocalite }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.exponent.extraInformation">Extra Information</span></dt>
          <dd>
            <span>{{ exponent()!.extraInformation }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon [title]="'common.view' | translate" icon="arrow-left"></fa-icon>
        </button>

        <button type="button" [routerLink]="['/exponent', exponent()!.id, 'edit']" class="btn btn-primary">
          <fa-icon [title]="'common.edit' | translate" icon="pencil-alt"></fa-icon>
        </button>
      </div>
    }
  </div>
</div>
