<app-content-page [formGroup]="editForm">
    <div appMenuBarStart>
        @if (editForm.controls.id.value) {
            <h3>{{ 'exhibitor.edit' | translate }}</h3>
        } @else {
            <h3>{{ 'exhibitor.create' | translate }}</h3>
        }
    </div>
    <div appMenuBarEnd>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading"
                    [showText]="false"
                    primeIcon="pi-arrow-left"
                    translateKey="common.back"/>
        @if (isReadOnly) {
            <button-box (clickedEvent)="edit()"
                        [isDisabled]="isLoading"
                        [showText]="false"
                        primeIcon="pi-pencil"
                        translateKey="common.edit"/>
        }

        @if (editForm.controls.id.value && !isReadOnly) {
            <button-box (clickedEvent)="cancel()"
                        [isDisabled]="isLoading"
                        [showText]="false"
                        primeIcon="pi-ban"
                        translateKey="common.cancel"
                        type="secondary"/>
        }

        @if (!isReadOnly) {
            <button-box (clickedEvent)="save()"
                        [isDisabled]="editForm.invalid || isLoading"
                        [isSubmit]="true"
                        [showText]="false"
                        primeIcon="pi-save"
                        translateKey="common.save"/>
        }
    </div>
    <app-alert-error></app-alert-error>
    <app-alert></app-alert>
    <p-toast/>
    <p-confirmpopup/>
    <app-card>
        <div appCardHeader>
            <h4>{{ 'common.info-basic' | translate }}</h4>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-lg-6">
                    <text-box fieldName="fullName" formControlName="fullName" translateKey="exhibitor.fullName"/>
                </div>
                <div class="mt-4 col-lg-6">
                    <text-box fieldName="email" formControlName="email" translateKey="exhibitor.email"/>
                </div>
                <div class="mt-4 col-lg-6">
                    <text-box fieldName="phoneNumber"
                              formControlName="phoneNumber"
                              translateKey="exhibitor.phoneNumber"/>
                </div>
                <div class="mt-4 col-lg-6">
                    <select-box [formatterFunction]="formatterLanguage"
                                [needTranslation]="true"
                                [options]="languageValues"
                                fieldName="language"
                                formControlName="language"
                                translateKey="exhibitor.language.list.label"/>
                </div>
            </div>
        </div>
    </app-card>
    <app-card>
        <div appCardHeader>
            <h4>{{ 'exhibitor.homeAddress' | translate }}</h4>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-sm-12">
                    <text-box fieldName="address" formControlName="address" translateKey="exhibitor.address"/>
                </div>
                <div class="mt-4 col-sm-6">
                    <text-box fieldName="npaLocalite"
                              formControlName="npaLocalite"
                              translateKey="exhibitor.npaLocalite"/>
                </div>
                <div class="mt-4 col-sm-6">
                    <select-box [formatterFunction]="formatterCountry"
                                [needTranslation]="true"
                                [options]="countryService.getAll()"
                                fieldName="name"
                                formControlName="isoCountry"
                                translateKey="exhibitor.country"/>
                </div>
            </div>
        </div>
    </app-card>
    <app-card>
        <div appCardHeader>
            <h4>{{ 'exhibitor.preferences' | translate }}</h4>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-12">
                    <checkbox-box fieldName="newsletter"
                                  formControlName="newsletter"
                                  translateKey="exhibitor.newsletter"/>
                </div>
            </div>
        </div>
    </app-card>
    <app-card>
        <div appCardHeader>
            <h4>{{ 'common.info-intern' | translate }}</h4>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-sm-6">
                    <checkbox-box fieldName="redFlag" formControlName="redFlag" translateKey="exhibitor.redFlag"/>
                </div>
                <div class="mt-4 col-sm-6">
                    <checkbox-box fieldName="duplicateDetected"
                                  formControlName="duplicateDetected"
                                  translateKey="exhibitor.duplicateDetected"/>
                </div>
                <div class="mt-4 col-12">
                    <textarea-box fieldName="extraInformation"
                                  formControlName="extraInformation"
                                  translateKey="exhibitor.extraInformation"/>
                </div>
            </div>
        </div>
    </app-card>

    @if (isReadOnly) {
        <app-card>
            <div appCardHeader>
                <h4>{{ 'participation.title' | translate }}</h4>
            </div>
            <div appCardBody>
                <div class="row">
                    <p-table #dt2
                             [loading]="isLoading"
                             [paginator]="true"
                             [rowsPerPageOptions]="[10, 25, 50]"
                             [rows]="10"
                             [sortOrder]="-1"
                             [value]="(participations$ | async)!"
                             class="mt-2"
                             dataKey="id"
                             sortField="registrationDate">
                        <ng-template #header>
                            <tr>
                                <th pSortableColumn="place">{{ 'salon.place' | translate }}
                                    <p-sortIcon field="place"/>
                                    <p-columnFilter display="menu"
                                                    field="place"
                                                    matchMode="contains"
                                                    type="text"></p-columnFilter>
                                </th>
                                @if (!stateService.hideSensibleInformation()) {
                                    <th>{{ 'participation.rating' | translate }}</th>
                                }
                                <th>{{ 'participation.status.label' | translate }}</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-participation>
                            <tr>
                                <td [routerLink]="['/admin',  'salons',  participation.salon.id,  'participations',  participation.id,  'view']"
                                    class="clickable truncate-medium">{{ participation.salon.place }}
                                </td>
                                @if (!stateService.hideSensibleInformation()) {
                                    <td [routerLink]="['/admin',  'salons',  participation.salon.id,  'participations',  participation.id,  'view']"
                                        class="clickable">
                                        <div>
                                            <p-rating [ngModelOptions]="{ standalone: true }" [ngModel]="participation.ratingFriendliness" [disabled]="true"
                                                      [stars]="6"/>
                                        </div>
                                        <div>
                                            <p-rating [ngModelOptions]="{ standalone: true }" [ngModel]="participation.ratingPaymentSpeed" [disabled]="true"
                                                      [stars]="6"/>
                                        </div>
                                        <div>
                                            <p-rating [ngModelOptions]="{ standalone: true }" [ngModel]="participation.ratingServiceQuality" [disabled]="true"
                                                      [stars]="6"/>
                                        </div>
                                    </td>
                                }
                                <td class="clickable">
                                    <fa-icon [class]="participation.status | colorStatus"
                                             [icon]="participation.status | status"
                                             [title]="'participation.status.list.' + participation.status | translate"></fa-icon>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="5">{{ 'participation.notFound' | translate }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </app-card>
    }

</app-content-page>