@if (editionMode() && days().length) {
    <div class="d-flex justify-content-end align-items-center">
        <button pButton type="button"
                size="small"
                severity="primary"
                (click)="showManageRooms.set(true)">Gestion des salles
        </button>
    </div>
}
@if (editionMode() || days().length) {
    <p-tabs [value]="selectedDay()?.id">
    <p-tablist>
        @for (day of days(); track day.id) {
            <p-tab [value]="day.id" (click)="selectedDayId.set(day.id)">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <span>{{ day.label }}</span>

                    @if (editionMode() && selectedDayId() === day.id) {
                        <menu-box [items]="daysMenuCache.get(day.id)!"
                                  buttonIcon="gear"
                                  type="secondary"
                                  [appendTo]="'body'">
                        </menu-box>
                    }
                </div>
            </p-tab>
        }
        @if (editionMode()) {
            <p-tab [value]="'__ADD__'">
                <button-box type="secondary"
                            faIcon="plus"
                            [showText]="!days()?.length"
                            translateKey="common.create" (clickedEvent)="addNewDay()"/>
            </p-tab>
        }
    </p-tablist>
    <p-tabpanels>
        @if (selectedDay()) {
            <div class="mt-4 me-2 d-flex justify-content-end">
                <div>Prévisualiser ?
                    <p-toggleswitch [ngModel]="!showGrid()"
                                    (onChange)="showGrid.set(!showGrid())"/>
                </div>
            </div>
            @if (showGrid()) {
                @for (day of days(); track day.id) {
                    <p-tabpanel [value]="day.id">
                        <div class="mt-4 schedule"
                             [style.--slot-count]="timeSlots().length"
                             [style.--cell-height.px]="60"
                             [style.--cell-width.px]="slotWidthPx()">
                            <!-- En-tête heures -->
                            <div class="header-row">
                                <div class="time-cell">Salle / Heure</div>
                                <div class="time-track"
                                     [style.grid-template-columns]="'repeat('+timeSlots().length+', '+slotWidthPx()+'px)'">
                                    @for (t of timeSlots(); track t) {
                                        <div class="time-cell">
                                            {{ t }}
                                        </div>
                                    }
                                </div>
                            </div>

                            <!-- Une ligne par salle -->
                            @for (roomData of roomsFromSelectedDay(); track roomData.roomId) {
                                <div class="room-row">
                                    <div class="room-label">{{ roomsById().get(roomData.roomId)?.label }}</div>

                                    <div class="room-track"
                                         #roomTrack
                                         [attr.data-room-id]="roomData.roomId"
                                         [style.grid-template-columns]="'repeat('+timeSlots().length+', '+slotWidthPx()+'px)'">
                                        @for (t of timeSlots(); track t; let i = $index) {
                                            <div class="slot-cell"
                                                 [class.slot-disabled]="isSlotDisabled(roomData.roomId, i)"
                                                 [class.slot-highlight]="
                                                !isSlotDisabled(roomData.roomId, i) &&
                                                 hoveredRoomId() === roomData.roomId &&
                                                 hoveredStartSlot() !== null &&
                                                 i >= (hoveredStartSlot() ?? 0) &&
                                                 i < (hoveredStartSlot() ?? 0) + getTalkNbPeriods(hoveredTalk())"></div>
                                        }

                                        @for (talk of (talksForSelectedDayByRoom().get(roomData.roomId) ?? []); track talk.id) {
                                            <talk-slot class="talk-assigned"
                                                       [style.cursor]="editionMode() ? 'move': 'default'"
                                                       [widthInPx]="getTalkNbPeriods(talk) * slotWidthPx()"
                                                       [talk]="talk"
                                                       cdkDrag
                                                       [style.left.px]="(talk.startSlot * slotWidthPx())"
                                                       [cdkDragDisabled]="!editionMode()"
                                                       (cdkDragMoved)="onTalkDragMoved($event, talk)"
                                                       (cdkDragEnded)="onTalkDragEnded($event, talk, day)"/>
                                        }
                                    </div>
                                </div>
                            } @empty {
                                <div class="p-2">
                                    Encore aucune salle attaché à ce jour.
                                </div>
                            }
                        </div>
                    </p-tabpanel>
                }
            } @else {
                <div class="row">
                    @for (room of roomsFromSelectedDay(); track room.roomId) {
                        <div class="d-flex mt-4 col-lg-6">
                            <div>
                                <h4 class="room-timeline-title">{{ roomsById().get(room.roomId)?.label }}</h4>
                                @let talksForDayAndRoom = talksForSelectedDayByRoom().get(room.roomId);

                                @if (talksForDayAndRoom && talksForDayAndRoom.length > 0) {
                                    <p-timeline [value]="talksForDayAndRoom" align="left">

                                        <ng-template #marker let-talk>
                                            <p-badge [severity]="talk.type === 'CONFERENCE' ? undefined : 'warn'"
                                                     size="large"
                                                     [value]="getTalkStartTimeLabel(talk)"/>
                                        </ng-template>

                                        <ng-template #content let-talk>
                                            <app-card>
                                                <div appCardHeader>
                                                    <h4>{{ talk.title }}</h4>
                                                </div>
                                                <div appCardBody>
                                                    <div class="talk-card-meta">
                                                        <span>{{ talk.client }}</span>
                                                        <span class="text-black-50">
                                                        {{ talk.durationTalkMinutes + ' minutes' }}
                                                    </span>
                                                    </div>
                                                    @if (talk.description) {
                                                        <p class="talk-card-description">{{ talk.description }} </p>
                                                    }
                                                </div>
                                            </app-card>
                                        </ng-template>
                                    </p-timeline>
                                } @else {
                                    <p>Aucun élément défini dans la salle</p>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            @if (days().length && selectedDay() && showGrid()) {
                <div class="mt-4">
                    <h4>Animations disponibles</h4>
                    @if (unassignedTalks().length > 0) {
                        <div class="unassigned-list">
                            @for (unassignedTalk of unassignedTalks(); track unassignedTalk.id) {
                                <talk-slot class="talk-unassigned"
                                           [style.cursor]="editionMode() ? 'move': 'default'"
                                           [talk]="unassignedTalk"
                                           cdkDrag
                                           [widthInPx]="getTalkNbPeriods(unassignedTalk) * slotWidthPx()"
                                           [cdkDragDisabled]="!editionMode()"
                                           (cdkDragMoved)="onTalkDragMoved($event, unassignedTalk)"
                                           (cdkDragEnded)="onTalkDragEnded($event, unassignedTalk, selectedDay())"/>
                            }
                        </div>
                    }
                    <div>
                        @if (unassignedTalks().length === 0) {
                            <p class="hint">Aucun élément non assignée pour le moment.</p>
                        } @else {
                            <p class="hint">Glisse et lâche sur la grille. </p>
                        }
                    </div>
                </div>
            }
        } @else if (!selectedDay() && editionMode()) {
            <div class="mt-4">Aucun jour de sélectionné.</div>
        }
    </p-tabpanels>
</p-tabs>
}

<!-- Dialog 1 : Gérer un jour -->
<dialog-box [header]="manageDayCreateMode() ? 'Création d\'un jour' : 'Gestion du jour'"
            [mode]="'edit'"
            [(visible)]="showManageDay"
            (cancel)="onManageDayCancel()"
            (confirm)="dayPanelConfirm()">

    @if (manageDaySelectedDayId()) {
        <app-timeline-config-day-dialog
                #dayDialog
                [data]="configuration()"
                [selectedDayId]="manageDaySelectedDayId()!"
                [createIfMissing]="manageDayCreateMode()"
                (confirmDraft)="onManageDayConfirm($event)"
                (cancelDraft)="onManageDayCancel()"/>
    }
</dialog-box>

<!-- Dialog 2 : Gérer les salles -->
<dialog-box
        [header]="'Gestion des salles'"
        [mode]="'edit'"
        [(visible)]="showManageRooms"
        (cancel)="showManageRooms.set(false)"
        (confirm)="roomsPanelConfirm()">
    <app-timeline-config-rooms-dialog
            [data]="configuration()"
            (confirmDraft)="configuration.set($event); showManageRooms.set(false)"
            (cancelDraft)="showManageRooms.set(false)"/>
</dialog-box>

<!-- Dialog 3 : Affecter / désaffecter -->
<dialog-box
        [header]="'Gestion des affectations de salles'"
        [mode]="'edit'"
        [(visible)]="showAssignRooms"
        (cancel)="showAssignRooms.set(false)"
        (confirm)="assignPanelConfirm()">
    <app-timeline-config-assign-dialog
            [data]="configuration()"
            [selectedDayId]="selectedDayId()"
            (confirmDraft)="configuration.set($event); showAssignRooms.set(false)"
            (cancelDraft)="showAssignRooms.set(false)"/>
</dialog-box>

<dialog-box [header]="'Supprimer le jour'"
            [mode]="'edit'"
            [(visible)]="showConfirmDeleteDay"
            (cancel)="showConfirmDeleteDay.set(false)"
            (confirm)="confirmDeleteSelectedDay()">

    <div class="p-text-secondary">
        Supprimer le jour <b>{{ selectedDay()?.label }}</b> ?
        <br/>
        Cette action retirera aussi ses affectations de salles (et tout contenu associé si tu le gères).
    </div>

</dialog-box>