<form (ngSubmit)="confirmAdd()" name="addForm">
    <div class="modal-header">
        <h4 class="modal-title">Créer un plan</h4>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-sm-12 fw-bold align-content-center position-relative">
                <label for="field_name">Nom du plan</label> <input class="form-control" [(ngModel)]="info.name"
                                                                   id="field_name" name="name" type="text"/>
            </div>
            <div class="col-sm-4 fw-bold align-content-center position-relative">
                <label for="field_width">Longueur (m)</label>
                <input class="form-control" [(ngModel)]="info.widthMeter" id="field_width" name="widthMeter"
                       type="number"/>
            </div>
            <div class="col-sm-4 fw-bold align-content-center position-relative">
                <label for="field_height">Hauteur (m)</label>
                <input class="form-control" [(ngModel)]="info.heightMeter" id="field_height" name="heightMeter"
                       type="number"/>
            </div>
            <div class="col-sm-4 fw-bold align-content-center position-relative">
                <label for="field_spacing">Taille d'un carré (m)</label>
                <input class="form-control" [(ngModel)]="info.spacingMeter" id="field_spacing" name="spacingMeter"
                       type="number"/>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button (click)="cancel()" class="btn btn-secondary" data-dismiss="modal" type="button">
            <fa-icon [title]="'common.cancel' | translate" icon="ban"></fa-icon>
            <span jhiTranslate="common.cancel">Cancel</span>
        </button>

        <button class="btn btn-primary" id="jhi-confirm-add" type="submit">
            <fa-icon [title]="'common.create' | translate" icon="add"></fa-icon>
            <span jhiTranslate="common.create">Créer</span>
        </button>
    </div>
</form>
