<div class="row">
    <div class="col-12">
        <div>
            <label>Libellé</label>
            <input (blur)="commitDayLabel(day()!.id)"
                   (ngModelChange)="setDayLabelDraft(day()!.id, $event)"
                   [ngModel]="dayLabel(day()!)"
                   fluid="true"
                   pInputText/>
        </div>
    </div>
    <div class="mt-4 col-12">
        <h4>Affectations</h4>
        <p-table [rowHover]="true" [rowTrackBy]="trackByRoomId" [value]="selectedDayRoomRows()">
            <ng-template pTemplate="header">
                <tr>
                    <th>Salle</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th class="text-end"></th>
                </tr>
            </ng-template>

            <ng-template let-row pTemplate="body">
                <tr>
                    <td>{{ row.roomLabel }}</td>

                    <td>
                        <p-datepicker (ngModelChange)="updateRoomTime(row.roomId, $event, row.endingHour)"
                                      [appendTo]="'body'"
                                      [ngModel]="row.startingHour"
                                      [showIcon]="true"
                                      [showTime]="true"
                                      [timeOnly]="true"
                                      hourFormat="24"></p-datepicker>
                    </td>

                    <td>
                        <p-datepicker (ngModelChange)="updateRoomTime(row.roomId, row.startingHour, $event)"
                                      [appendTo]="'body'"
                                      [ngModel]="row.endingHour"
                                      [showIcon]="true"
                                      [showTime]="true"
                                      [timeOnly]="true"
                                      hourFormat="24"></p-datepicker>
                    </td>

                    <td class="text-end">
                        <button-box (clickedEvent)="removeRoomFromDay(row.roomId)"
                                    [showText]="false"
                                    faIcon="times"
                                    translateKey="common.delete"
                                    type="danger"/>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="footer">
                <tr>
                    <td>
                        <p-select [formControl]="addRoomToDayForm.controls.roomId"
                                  [options]="availableRoomsForDay()"
                                  appendTo="body"
                                  fluid="true"
                                  optionLabel="label"
                                  optionValue="id"
                                  placeholder="Choisir une salle"></p-select>
                    </td>
                    <td>
                        <p-datepicker [appendTo]="'body'"
                                      [formControl]="addRoomToDayForm.controls.startingHour"
                                      [showIcon]="true"
                                      [showTime]="true"
                                      [timeOnly]="true"
                                      hourFormat="24"></p-datepicker>
                    </td>
                    <td>
                        <p-datepicker [appendTo]="'body'"
                                      [formControl]="addRoomToDayForm.controls.endingHour"
                                      [showIcon]="true"
                                      [showTime]="true"
                                      [timeOnly]="true"
                                      hourFormat="24"></p-datepicker>
                    </td>
                    <td class="text-end">
                        <button-box (clickedEvent)="addRoomToDay()" [showText]="false"
                                    faIcon="plus" translateKey="common.assign"
                                    type="success"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
