<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-exponent-heading" data-cy="ExponentCreateUpdateHeading" jhiTranslate="salonApp.exponent.home.createOrEditLabel">
        Créer ou éditer un Exponent
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="salonApp.exponent.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fullName" jhiTranslate="salonApp.exponent.fullName">Full Name</label>
          <input type="text" class="form-control" name="fullName" id="field_fullName" data-cy="fullName" formControlName="fullName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phoneNumber" jhiTranslate="salonApp.exponent.phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_website" jhiTranslate="salonApp.exponent.website">Website</label>
          <input type="text" class="form-control" name="website" id="field_website" data-cy="website" formControlName="website" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_socialMedia" jhiTranslate="salonApp.exponent.socialMedia">Social Media</label>
          <input
            type="text"
            class="form-control"
            name="socialMedia"
            id="field_socialMedia"
            data-cy="socialMedia"
            formControlName="socialMedia"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="salonApp.exponent.address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_npaLocalite" jhiTranslate="salonApp.exponent.npaLocalite">Npa Localite</label>
          <input
            type="text"
            class="form-control"
            name="npaLocalite"
            id="field_npaLocalite"
            data-cy="npaLocalite"
            formControlName="npaLocalite"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_urlPicture" jhiTranslate="salonApp.exponent.urlPicture">Url Picture</label>
          <input
            type="text"
            class="form-control"
            name="urlPicture"
            id="field_urlPicture"
            data-cy="urlPicture"
            formControlName="urlPicture"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_comment" jhiTranslate="salonApp.exponent.comment">Comment</label>
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_blocked" jhiTranslate="salonApp.exponent.blocked">Blocked</label>
          <input type="checkbox" class="form-check" name="blocked" id="field_blocked" data-cy="blocked" formControlName="blocked" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
