@if (translateKey) {
    <p-iftalabel>
        <input [formControl]="control"
               [id]="'field_' + fieldName"
               [invalid]="control.invalid && control.touched"
               fluid
               pInputText/>
        <label [for]="'field_' + fieldName">
            {{ translateKey | translate }}
            @if (control.hasValidator(Validators.required)) {
                <span class="text-danger">*</span>
            }
        </label>
    </p-iftalabel>
} @else {
    <p-float-label>
        <input [formControl]="control"
               [id]="'field_' + fieldName"
               [invalid]="control.invalid && control.touched"
               fluid
               pInputText/>
    </p-float-label>
}
@if (control.errors) {
    <error-box [formControlElement]="control"/>
}