@if (translateKey) {
    <p-iftalabel>
        @if (isFormControl && control) {
            <input [formControl]="control"
                   [id]="'field_' + fieldName"
                   [invalid]="control.invalid && control.touched"
                   [maxlength]="maxLength"
                   fluid
                   pInputText/>
        } @else {
            <input [value]="value"
                   (input)="onInput($event)"
                   [id]="'field_' + fieldName"
                   [maxLength]="maxLength"
                   [disabled]="disabled"
                   fluid
                   pInputText/>
        }
        <label [for]="'field_' + fieldName">
            {{ translateKey | translate }}
            @if (isFormControl && control && control.hasValidator(Validators.required)) {
                <span class="text-danger">*</span>
            }
        </label>
    </p-iftalabel>
} @else {
    <p-float-label>
        @if (isFormControl && control) {
            <input [formControl]="control"
                   [id]="'field_' + fieldName"
                   [invalid]="control.invalid && control.touched"
                   [maxlength]="maxLength"
                   fluid
                   pInputText/>
        } @else {
            <input [value]="value"
                   (input)="onInput($event)"
                   [id]="'field_' + fieldName"
                   [maxLength]="maxLength"
                   [disabled]="disabled"
                   fluid
                   pInputText/>
        }
    </p-float-label>
}
@if (isFormControl && control && control.errors) {
    <error-box [formControlElement]="control"/>
}