<p-toggle-button [formControl]="control"
                 [inputId]="'field_' + fieldName"
                 [invalid]="control!.invalid && control!.touched"
                 [offIcon]="PrimeIcons.TIMES_CIRCLE + ' text-warning'"
                 [offLabel]="(translateKey ?? '') | translate"
                 [onIcon]="PrimeIcons.VERIFIED + ' text-success'"
                 [onLabel]="(translateKey ?? '') | translate"
                 [style.height]="'100%'"
                 fluid
                 iconPos="right"></p-toggle-button>