<app-content-page>
    <div appMenuBarStart>
        <h3 jhiTranslate="conference.title">Les conférences</h3>
    </div>
    <div appMenuBarEnd>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading"
                    faIcon="arrow-left"
                    translateKey="common.back"
                    [showText]="false"/>

        <button-box (clickedEvent)="refresh()"
                    [faIconAnimation]="isLoading ? 'spin' : undefined"
                    [isDisabled]="isLoading"
                    faIcon="sync"
                    [showText]="false"
                    translateKey="common.refresh"/>
        <button-box [modeLink]="true"
                    [links]="['./new']"
                    [isDisabled]="isLoading"
                    [showText]="false"
                    type="success"
                    faIcon="plus"
                    translateKey="common.create"/>
    </div>
    <app-alert-error></app-alert-error>
    <app-alert></app-alert>
    <p-toast/>
    <p-confirmpopup/>
    <app-card [showHeader]="false">
        <div appCardBody>
            <div class="row">
                <p-table #dt2
                         [value]="conferences"
                         dataKey="id"
                         [rows]="10"
                         [rowsPerPageOptions]="[10, 25, 50]"
                         [loading]="isLoading"
                         [paginator]="true"
                         [globalFilterFields]="['participation.exhibitor.fullName', 'participation.therapistName', 'title']"
                         sortField="registrationDate"
                         [sortOrder]="-1"
                         [tableStyle]="{ 'min-width': '75rem' }">
                    <ng-template #caption>
                        <div class="flex">
                            <p-iconfield iconPosition="left" class="ml-auto">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Recherche" />
                            </p-iconfield>
                        </div>
                    </ng-template>
                    <ng-template #header>
                        <tr>
                            <th pSortableColumn="fullNameFilter">{{ 'conference.participation' | translate }}
                                <p-sortIcon field="fullNameFilter"/>
                            </th>
                            <th pSortableColumn="title">{{ 'conference.titleField' | translate }}
                                <p-sortIcon field="title"/>
                                <p-columnFilter type="text"
                                                field="title"
                                                matchMode="contains"
                                                display="menu"></p-columnFilter>
                            </th>
                            <th>Info</th>
                            <th pSortableColumn="status">{{ 'conference.status.label' | translate }}
                                <p-sortIcon field="status"/>
                                <p-columnFilter field="status" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template #filter let-value let-filter="filterCallback">
                                        <p-multiselect [ngModel]="value" [options]="statusValues" (ngModelChange)="filter($event)" style="min-width: 14rem" [panelStyle]="{ minWidth: '16rem' }">
                                            <ng-template let-option #item>
                                                <div class="flex items-center gap-2">
                                                    <fa-icon [icon]="option | status"
                                                             [class]="option | colorStatus"
                                                             [title]="'conference.status.list.' + option | translate"></fa-icon>
                                                    <span>{{ 'conference.status.list.' + option | translate }}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiselect>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th>&nbsp;</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-conference>
                        <tr>
                            <td class="clickable truncate-medium" [routerLink]="['./', conference.id, 'view']">
                                @if (conference.participation) {
                                    <a [routerLink]="['/admin/salons',params.get('idSalon'),'participations',conference.participation.id,'view']"
                                       (click)="$event.stopPropagation()">
                                        {{ conference.fullNameFilter }}
                                    </a>
                                }
                            </td>
                            <td class="clickable truncate"
                                [routerLink]="['./', conference.id, 'view']">{{ conference.title }}
                            </td>
                            <td class="clickable truncate-medium" [routerLink]="['./', conference.id, 'view']">
                                @if (conference.participation.crushOfHeart) {
                                    <fa-icon icon="heart" class="text-danger"></fa-icon>
                                }
                                @if (conference.participation.guestOfHonor) {
                                    <fa-icon icon="star" class="golden-icon"></fa-icon>
                                }
                                @if (conference.extraInformation) {
                                    <fa-icon icon="note-sticky"
                                             class="text-warning"
                                             [title]="conference.extraInformation"/>
                                }
                            </td>
                            <td class="clickable" [routerLink]="['./', conference.id, 'view']">
                                <fa-icon [icon]="conference.status | status"
                                         [class]="conference.status | colorStatus"
                                         [title]="'conference.status.list.' + conference.status | translate"></fa-icon>
                            </td>
                            <td class="text-end">
                                <div class="btn-group">
                                    <button-box (clickedEvent)="delete($event, conference)"
                                                type="danger"
                                                [showText]="false"
                                                translateKey="common.delete"
                                                faIcon="times"/>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="5">{{ 'conference.notFound' | translate }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </app-card>
</app-content-page>
