<app-content-page>
    <div appMenuBarStart>
        <h3>{{ 'salon.talksPlanning' | translate }}</h3>
    </div>
    <div appMenuBarEnd>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading()"
                    [showText]="false"
                    primeIcon="pi-arrow-left"
                    translateKey="common.back"/>

        @if (isReadOnly()) {
            <button-box (clickedEvent)="activateEditMode()"
                        [isDisabled]="isLoading()"
                        [showText]="false"
                        primeIcon="pi-pencil"
                        translateKey="common.edit"/>
        }

        @if (!isReadOnly()) {
            <button-box (clickedEvent)="activateReadOnlyMode()"
                        [isDisabled]="isLoading()"
                        [showText]="false"
                        primeIcon="pi-ban"
                        translateKey="common.cancel"
                        type="secondary"/>
            <button-box (clickedEvent)="save()"
                        [isDisabled]="isLoading()"
                        [isSubmit]="true"
                        [showText]="false"
                        primeIcon="pi-save"
                        translateKey="common.save"/>
        }
    </div>
    <app-alert-error></app-alert-error>


    <p-confirmpopup/>
    <app-card [showHeader]="false">
        <div appCardBody>
            @if (configuration) {
                <tp [(configuration)]="configuration" [(talks)]="talks" [editionMode]="!isLoading() && !isReadOnly()"/>
            }

            @if (!isLoading() && !hasConfiguration && isReadOnly()) {
                <div>Veuillez activer le mode édition pour démarrer un nouveau planning.</div>
            }
        </div>
    </app-card>
</app-content-page>
