@import "content/scss/bootstrap-variables";

.app-layout {
  display: flex;
  height: 100%;
  overflow: hidden;
  max-width: 1786px;
  margin: 0 auto;

  .main-content {
    flex: 1;
    overflow-y: auto;
  }
}
