<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (priceStandSalon()) {
      <div>
        <h2 data-cy="priceStandSalonDetailsHeading"><span jhiTranslate="salonApp.priceStandSalon.detail.title">Price Stand Salon</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="salonApp.priceStandSalon.id">Id</span></dt>
          <dd>
            <span>{{ priceStandSalon()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.priceStandSalon.price">Price</span></dt>
          <dd>
            <span>{{ priceStandSalon()!.price }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.priceStandSalon.salon">Salon</span></dt>
          <dd>
            @if (priceStandSalon()!.salon) {
              <div>
                <a [routerLink]="['/salon', priceStandSalon()!.salon?.id, 'view']">{{ priceStandSalon()!.salon?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="salonApp.priceStandSalon.dimension">Dimension</span></dt>
          <dd>
            @if (priceStandSalon()!.dimension) {
              <div>
                <a [routerLink]="['/dimension-stand', priceStandSalon()!.dimension?.id, 'view']">{{ priceStandSalon()!.dimension?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="common.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/price-stand-salon', priceStandSalon()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="common.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
