<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (stand()) {
      <div>
        <h2 data-cy="standDetailsHeading"><span jhiTranslate="salonApp.stand.detail.title">Stand</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="salonApp.stand.id">Id</span></dt>
          <dd>
            <span>{{ stand()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.description">Description</span></dt>
          <dd>
            <span>{{ stand()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.website">Website</span></dt>
          <dd>
            <span>{{ stand()!.website }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.socialMedia">Social Media</span></dt>
          <dd>
            <span>{{ stand()!.socialMedia }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.urlPicture">Url Picture</span></dt>
          <dd>
            <span>{{ stand()!.urlPicture }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.shared">Shared</span></dt>
          <dd>
            <span>{{ stand()!.shared }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.nbTable">Nb Table</span></dt>
          <dd>
            <span>{{ stand()!.nbTable }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.nbChair">Nb Chair</span></dt>
          <dd>
            <span>{{ stand()!.nbChair }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.needElectricity">Need Electricity</span></dt>
          <dd>
            <span>{{ stand()!.needElectricity }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'salonApp.Status.' + (stand()!.status ?? 'null')">{{
              { null: '', REFUSED: 'REFUSED', CANCELED: 'CANCELED', IN_VERIFICATION: 'IN_VERIFICATION', ACCEPTED: 'ACCEPTED' }[
                stand()!.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.extraInformation">Extra Information</span></dt>
          <dd>
            <span>{{ stand()!.extraInformation }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.stand.participation">Participation</span></dt>
          <dd>
            @if (stand()!.participation) {
              <div>
                <a [routerLink]="['/participation', stand()!.participation?.id, 'view']">{{ stand()!.participation?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="salonApp.stand.dimension">Dimension</span></dt>
          <dd>
            @if (stand()!.dimension) {
              <div>
                <a [routerLink]="['/dimension-stand', stand()!.dimension?.id, 'view']">{{ stand()!.dimension?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/stand', stand()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
