<div>
    <h2 id="page-heading">
        <div class="d-flex justify-content-center">
            <span jhiTranslate="userManagement.home.title">Users</span>
        </div>

        <hr/>

        <div class="d-flex justify-content-between mt-4">
      <span>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading()"
                    [showText]="false"
                    primeIcon="pi-arrow-left" translateKey="common.back"/>
      </span>

            <span>
        <button-box (clickedEvent)="load()"
                    [primeIcon]="isLoading() ? 'pi-spin' : 'pi-sync'"
                    [isDisabled]="isLoading()"
                    translateKey="common.refresh"/>

        <link-box [isDisabled]="isLoading()"
                  [links]="['./new']"
                  [showText]="false" primeIcon="pi-plus"
                  translateKey="common.create"
                  type="success"/>
      </span>
        </div>
    </h2>

    <app-alert-error></app-alert-error>



    @if (users()) {
        <div class="table-responsive table-entities" id="entities">
            <table aria-describedby="page-heading" class="table table-hover">
                <thead class="thead-primary">
                <tr (sortChange)="transition($event)" [sortState]="sortState" jhiSort>
                    <th jhiSortBy="login">
                        <span jhiTranslate="userManagement.login">Login</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th jhiSortBy="email">
                        <span jhiTranslate="userManagement.email">Email</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th class="text-center" jhiTranslate="userManagement.activated">Activé</th>
                    <th class="text-center">
                        <span jhiTranslate="userManagement.langKey">Langue</span>
                    </th>
                    <th class="text-center">
                        <span jhiTranslate="userManagement.profiles">Droits</span>
                    </th>
                    <th class="text-center">
                        <span jhiTranslate="userManagement.createdDate">Créé le</span>
                    </th>
                    <th class="text-center">
                        <span jhiTranslate="userManagement.lastModifiedBy">Modifié par</span>
                    </th>
                    <th class="text-center">
                        <span jhiTranslate="userManagement.lastModifiedDate">Modifié le</span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @for (user of users(); track trackIdentity($index, user)) {
                        <tr>
                            <td [routerLink]="['./', user.login, 'view']" class="clickable">{{ user.login }}</td>
                            <td [routerLink]="['./', user.login, 'view']" class="clickable">{{ user.email }}</td>
                            <td [routerLink]="['./', user.login, 'view']" class="clickable text-center">
                                <fa-icon [class]="user.activated | colorBool"
                                         [icon]="user.activated | checkBool"></fa-icon>
                            </td>
                            <td [routerLink]="['./', user.login, 'view']"
                                class="clickable text-center">{{ user.langKey }}
                            </td>
                            <td [routerLink]="['./', user.login, 'view']" class="clickable text-center">
                                @for (authority of user.authorities; track $index) {
                                    <div>
                                        <span class="badge bg-primary">{{ authority }}</span>
                                    </div>
                                }
                            </td>
                            <td [routerLink]="['./', user.login, 'view']" class="clickable text-center">
                                {{ user.createdDate | date: 'dd/MM/yy HH:mm' }}
                            </td>
                            <td [routerLink]="['./', user.login, 'view']"
                                class="clickable text-center">{{ user.lastModifiedBy }}
                            </td>
                            <td [routerLink]="['./', user.login, 'view']" class="clickable text-center">
                                {{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}
                            </td>
                            <td class="text-end">
                                <div class="btn-group">
                                    <button-box (clickedEvent)="deleteUser($event, user)"
                                                [isDisabled]="!currentAccount() || currentAccount()?.login === user.login"
                                                [showText]="true"
                                                primeIcon="pi-times"
                                                translateKey="common.delete"
                                                type="danger"/>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div>
            <div class="d-flex justify-content-center">
                <app-item-count
                        [params]="{ page: page, totalItems: totalItems(), itemsPerPage: itemsPerPage }"></app-item-count>
            </div>

            <div class="d-flex justify-content-center">
                <ngb-pagination (pageChange)="transition()"
                                [(page)]="page"
                                [boundaryLinks]="true"
                                [collectionSize]="totalItems()"
                                [maxSize]="5"
                                [pageSize]="itemsPerPage"
                                [rotate]="true"></ngb-pagination>
            </div>
        </div>
    }
</div>
