<div class="row">

    <!-- GENERAL -->
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Générale</h4>
        </div>
        <div class="mt-4">
            <label for="interval">Intervalle (minutes)</label>
            <p-select
                    inputId="interval"
                    [options]="intervalOptions"
                    [ngModel]="data.intervalMinutes"
                    (ngModelChange)="onIntervalChange($event)"></p-select>
        </div>
    </div>

    <div class="col-12 mt-4">
        <p-divider></p-divider>
    </div>

    <!-- Days -->
    <div class="col-12 mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Jours</h4>
            <button pButton type="button" icon="pi pi-plus" label="Ajouter"
                    size="small" (click)="addDay()"></button>
        </div>

        <p-table class="mt-4" [value]="days()"
                 dataKey="id"
                 [rowTrackBy]="trackById"
                 [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Libellé</th>
                    <th>Actions</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-day>
                <tr>
                    <td>
                        <input pInputText
                               [ngModel]="dayLabel(day)"
                               fluid="true"
                               (ngModelChange)="setDayLabelDraft(day.id, $event)"
                               (blur)="commitDayLabel(day.id)"/>
                    </td>

                    <td>
                        <button
                                pButton type="button" icon="pi pi-trash"
                                class="p-button-text p-button-danger" (click)="askDeleteDay(day.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- Rooms -->
    <div class="col-12 mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Salles</h4>
            <button pButton type="button" icon="pi pi-plus" size="small" label="Ajouter" (click)="addRoom()"></button>
        </div>

        <p-table class="mt-4" [value]="rooms()"
                 dataKey="id"
                 [rowTrackBy]="trackById"
                 [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Libellé</th>
                    <th>Actions</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-room>
                <tr>
                    <td>
                        <input pInputText
                               [ngModel]="roomLabel(room)"
                               (ngModelChange)="setRoomLabelDraft(room.id, $event)"
                               fluid="true"
                               (blur)="commitRoomLabel(room.id)"/>
                    </td>
                    <td>
                        <button pButton type="button" icon="pi pi-trash"
                                class="p-button-text p-button-danger" (click)="askDeleteRoom(room.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- Assignations -->
    <div class="col-12">
        <div class="row align-items-center">
            <div class="col-12 mt-4">
                <h4>Affectations (Jour ↔ Salles)</h4>
            </div>
            <div class="col-6 mt-4">
                <label for="daySelect">Sélectionner un jour</label>
            </div>
            <div class="col-6 mt-4">
                <p-select
                        inputId="daySelect"
                        [options]="dayOptions()"
                        optionLabel="label"
                        fluid="true"
                        optionValue="id"
                        [ngModel]="selectedDayId()"
                        (ngModelChange)="onSelectDay($event)"
                        placeholder="Choisir un jour"
                ></p-select>
            </div>
            <ng-container *ngIf="selectedDay() as day; else noDay">
                <div class="col-12 mt-4">
                    <!-- Liste affectations -->
                    <p-table [value]="selectedDayRoomRows()"
                             [rowTrackBy]="trackByRoomId"
                             [rowHover]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Salle</th>
                                <th>Début</th>
                                <th>Fin</th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-row>
                            <tr>
                                <td>{{ row.roomLabel }}</td>

                                <td>
                                    <p-datepicker
                                            [ngModel]="row.startingHour"
                                            (ngModelChange)="updateSelectedDayRoomTime(row.roomId, $event, row.endingHour)"
                                            [showTime]="true"
                                            [timeOnly]="true"
                                            hourFormat="24"
                                            [appendTo]="'body'"
                                            [showIcon]="true"
                                    ></p-datepicker>
                                </td>

                                <td>
                                    <p-datepicker
                                            [ngModel]="row.endingHour"
                                            (ngModelChange)="updateSelectedDayRoomTime(row.roomId, row.startingHour, $event)"
                                            [showTime]="true"
                                            [timeOnly]="true"
                                            hourFormat="24"
                                            [appendTo]="'body'"
                                            [showIcon]="true"
                                    ></p-datepicker>
                                </td>

                                <td>
                                    <button
                                            pButton type="button" icon="pi pi-trash"
                                            class="p-button-text p-button-danger"
                                            (click)="askRemoveRoomFromSelectedDay(row.roomId)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td>
                                    <p-select
                                            [options]="availableRoomsForSelectedDay()"
                                            optionLabel="label"
                                            optionValue="id"
                                            [formControl]="addRoomToDayForm.controls.roomId"
                                            fluid="true"
                                            appendTo="body"
                                            placeholder="Choisir une salle"></p-select>
                                </td>
                                <td>
                                    <p-datepicker
                                            [formControl]="addRoomToDayForm.controls.startingHour"
                                            [showTime]="true"
                                            [timeOnly]="true"
                                            hourFormat="24"
                                            [showIcon]="true"
                                            [appendTo]="'body'"
                                    ></p-datepicker>
                                </td>
                                <td>
                                    <p-datepicker
                                            [formControl]="addRoomToDayForm.controls.endingHour"
                                            [showTime]="true"
                                            [timeOnly]="true"
                                            hourFormat="24"
                                            [showIcon]="true"
                                            [appendTo]="'body'"></p-datepicker>
                                </td>
                                <td>
                                    <button pButton type="button" size="small" icon="pi pi-plus" label="Attribuer"
                                            (click)="addRoomToSelectedDay()"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-container>
            <ng-template #noDay>
                <div class="p-text-secondary">Choisis un jour pour gérer ses salles.</div>
            </ng-template>
        </div>
    </div>
</div>
