<p-iftalabel>
    <p-datepicker
            [formControl]="control"
            [inputId]="'field_' + fieldName"
            [invalid]="controlDir.control?.invalid && controlDir.control?.touched"
            showIcon
            [firstDayOfWeek]="1"
            [dateFormat]="'dd.mm.yy'"
            iconDisplay="input"
            fluid></p-datepicker>
    @if (translateKey) {
        <label [for]="'field_' + fieldName">{{ translateKey | translate }}
            @if (control.hasValidator(Validators.required)) {
                <span class="text-danger">*</span>
            }
        </label>
    }
</p-iftalabel>
@if (control.errors) {
    <error-box [formControlElement]="control"/>
}