<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <p>
        Bonjour,<br/> Tu trouveras, ci-joint à cet email,
        <strong> ta facture</strong> liée à ta participation à l'évènement du <strong th:text="${startDate}"></strong>
        au <strong
            th:text="${endDate}"></strong>.
    </p>
    <p>
        Comme convenu, le règlement du montant total de la facture pourra s'effectuer <strong>au plus tard le jour de
        l'événement</strong>. Tu peux donc te préparer, dès à présent et en toute sérénité, à cette belle aventure ! 😊
    </p>
    <p>
        Nous nous réjouissons sincèrement à l'idée de partager cette belle édition avec toi ! 💛
    </p>
    <p>
        Avec toute notre bienveillance,<br/>
        <strong>L’équipe du salon</strong>
    </p>
</div>