<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <p>
        Salut 😊<br/>
        Petit message pour prendre de tes nouvelles, car on a vu que la date d’échéance de ta facture est passée.
    </p>
    <p>
        Nous aimerions juste savoir où tu en es de ton côté. Si c'est juste un oubli et que tu as besoin d’un délai supplémentaire ou
        si tu as simplement changé d’avis concernant ta participation à l’événement. Fais-le nous juste savoir. 🙏🏻
    </p>
    <p>
        Avec toute notre bienveillance,<br/>
        <strong>L’équipe du salon</strong>
    </p>
</div>