<p-menu #menu
        [appendTo]="appendTo"
        [model]="items"
        [popup]="true"/>

<p-button (onClick)="menu.toggle($event)"
          [attr.title]="buttonTranslateKey ? (buttonTranslateKey | translate) : undefined"
          [disabled]="buttonDisabled"
          [severity]="colorButton"
          size="small">
    @if (buttonIcon) {
        <fa-icon [icon]="buttonIcon"></fa-icon>
    }
    @if (buttonTranslateKey) {
        <span class="text-uppercase">{{ buttonTranslateKey | translate }}</span>
    }
</p-button>