<p-menu #menu
        [popup]="true"
        [model]="items"
        [appendTo]="appendTo"/>

<p-button (onClick)="menu.toggle($event)"
          [disabled]="buttonDisabled"
          [attr.title]="buttonTranslateKey ? (buttonTranslateKey | translate) : undefined"
          size="small"
          [severity]="colorButton">
    @if (buttonIcon) {
        <fa-icon [icon]="buttonIcon"></fa-icon>
    }
    @if (buttonTranslateKey) {
        <span class="text-uppercase">{{ buttonTranslateKey | translate }}</span>
    }
</p-button>