.sidebar {
  background-color: var(--app-primary);
  color: var(--app-surface);
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .sidebar-content {
    padding-right: 2rem !important;
    flex: 1 1 0 !important;

    .nav-link {
      color: var(--app-surface) !important;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      cursor: pointer;
    }

    .dropdown-list {
      max-height: 0;
      overflow: hidden;
      cursor: default;

      li {
        list-style: none !important;
        padding: 0.25rem 0;

        a {
          padding: 0 0.5rem;
          text-decoration: none;
          color: var(--app-surface) !important;
        }

        &:hover {
          background: var(--app-surface-25) !important;
          cursor: pointer;
        }

        &.active {
          background: var(--app-surface-25) !important;
        }
      }

      &.show {
        max-height: 500px;
      }
    }
  }

  /* ---- Mobile Style ---- */
  &.mobile {
    &.collapsed {
      display: none;
    }

    &.open {
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 9999;
      min-width: 300px;
      height: calc(100dvh - 60px);
    }
  }

  /* ---- Desktop Style ---- */
  &.desktop {
    position: relative;
    height: calc(100dvh - 60px);

    &.collapsed {
      display: none;
    }

    &.open {
      min-width: 300px;
      height: calc(100dvh - 60px);
    }
  }
}

.hr-navbar {
  border: 3px solid white;
}