<app-content-page>
    <div appMenuBarStart>
        <h3 jhiTranslate="login.title">Authentification</h3>
    </div>
    <app-alert-error></app-alert-error>


    <p-confirmpopup/>
    <app-card [showHeader]="false">
        <div appCardBody>
            <form (ngSubmit)="login()" [formGroup]="loginForm" class="form">
                <div class="row">
                    @if (authenticationError()) {
                        <div class="col-12">
                            <div class="alert alert-danger" jhiTranslate="login.messages.error.authentication">
                                <strong>Erreur d&apos;authentification !</strong>
                                Veuillez vérifier vos identifiants de connexion.
                            </div>
                        </div>
                    }
                    <div class="mt-4 col-12">
                        <input #username
                               [placeholder]="'global.form.username.placeholder' | translate"
                               class="form-control"
                               formControlName="username"
                               id="username"
                               name="username"
                               type="text"/>
                    </div>

                    <div class="mt-4 col-12">
                        <input [placeholder]="'login.form.password.placeholder' | translate"
                               class="form-control"
                               formControlName="password"
                               id="password"
                               name="password"
                               type="password"/>
                    </div>

                    <div class="mt-4 col-12">
                        <div class="form-check">
                            <label class="form-check-label" for="rememberMe">
                                <input class="form-check-input"
                                       formControlName="rememberMe"
                                       id="rememberMe"
                                       name="rememberMe"
                                       type="checkbox"/>
                                <span jhiTranslate="login.form.rememberme">Garder la session ouverte</span>
                            </label>
                        </div>
                    </div>

                    <div class="mt-4 col-12">
                        <button-box [isSubmit]="true" translateKey="login.form.button" type="primary"/>
                    </div>
                </div>
            </form>
        </div>
    </app-card>
</app-content-page>