@if (modeLink) {
    <!-- Version "lien" (visuel lien, mais garde exactement tes features) -->
    <p-button (onClick)="onClick($event)"
              [attr.title]="translateKey | translate"
              [disabled]="isDisabled"
              [routerLink]="routerLink || links"
              [severity]="colorButton"
              [badge]="badge"
              [rounded]="rounded"
              [badgeSeverity]="badgeSeverity"
              [icon]="primeIcon ? ('pi ' + primeIcon) : undefined"
              [label]="showText ? (translateKey | translate) : undefined"
              [loading]="loading"
              size="small"/>
} @else {
    <!-- Version bouton normale -->
    <p-button (onClick)="onClick($event)"
              [attr.title]="translateKey | translate"
              [type]="isSubmit ? 'submit' : 'button'"
              [disabled]="isDisabled"
              [severity]="colorButton"
              [badge]="badge"
              [rounded]="rounded"
              [label]="showText ? (translateKey | translate) : undefined"
              [icon]="primeIcon ? ('pi ' + primeIcon) : undefined"
              [badgeSeverity]="badgeSeverity"
              [loading]="loading"
              size="small"/>
}