<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{email.invoice.title(${salon})}"></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p th:text="#{email.invoice.greeting(${fullName})}"></p>
    <p th:utext="#{email.invoice.text1(${salon}, ${startDate}, ${endDate})}"></p>
    <p th:utext="#{email.invoice.text2}"></p>
    <p th:utext="#{email.invoice.text3}"></p>

    <div th:include="common/footer::footer"></div>
  </body>
</html>
