<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{email.invoice-cancellation-standard.title(${salon})}"></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
  <p>Coucou !</p>
  <p>
    On espère que tout se passe à merveille de ton côté ! 🙌
  </p>
  <p>
    Un petit clin d’oeil pour te dire que ta facture pour le salon est arrivée à expiration… 😅
  </p>
  <p>
    Peut-être qu’elle s’est glissée incognito dans ta boîte mail (elles sont pleines de malice, ces factures !),
    ou que tu avais simplement mille autres choses en tête — et franchement, on comprend !
  </p>
  <p>
    Pour garder ta place bien au chaud, il te reste encore une petite semaine pour régler la facture ou simplement nous faire un petit coucou si besoin ✨
    Passé ce délai, on devra libérer la place pour une autre personne intéressée — mais promis, sans rancune aucune 😇
  </p>
  <p>
    On se permet donc ce petit rappel tout en douceur 💌
  </p>

  <p>À très bientôt !</p>

  <div th:include="common/footer::footer"></div>
</body>
</html>
