<!doctype html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{email.invoice.title(${billingNumber}, ${salon})}">{1} - #{0}</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
  <p>
    Ton inscription au salon <strong th:text="${salon}"></strong> a été acceptée avec joie par le comité !
  </p>
  <p>
    Tu recevras ta facture par e-mail dans les prochains jours.
    Il te suffira ensuite de procéder au paiement avant la date indiquée pour confirmer définitivement ta participation. 😉
  </p>
  <p>Si tu as la moindre question, nous sommes là pour y répondre.</p>
  <p>
    D’ici là, on te souhaite une magnifique semaine, pleine de belles énergies !
    On se réjouit sincèrement de t’accueillir au sein de cette belle aventure humaine. 🌟
  </p>
  <div th:include="common/footer::footer"></div>
</body>
</html>
