<!doctype html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{email.participation-validated.title(${salon})}"></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
  <p>
    Ton inscription est désormais <strong>officiellement validée</strong> ! 💛
  </p>
  <p>
    Nous avons hâte de t’accueillir au salon <strong th:text="${salon}"></strong> qui se déroulera du
    <strong th:text="${startDate}"></strong> au <strong th:text="${endDate}"></strong> ! 😊
  </p>
  <p>
    En attendant ce beau moment de partage,
    nous te souhaitons une semaine douce et remplie de belles énergies. 🌱
  </p>
  <p>
    Avec toute notre bienveillance.
  </p>
  <div th:include="common/footer::footer"></div>
</body>
</html>
