<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <p>
        Bienvenue dans l’aventure de l'évènement <strong>[[${salon}]]</strong> !
    </p>
    <p>
        C'est avec plaisir que nous te confirmons que <strong>ton inscription est acceptée</strong> !
    </p>
    <p>
        Tu recevras très prochainement un email contenant ta facture.
    </p>
    <p>
        On se réjouit sincèrement de t’accueillir parmi nous. D'ici là, nous te souhaitons une magnifique semaine remplie de belles énergies. ⭐⭐⭐
    </p>
    <p>
        Avec toute notre bienveillance,<br />
        <strong>L’équipe du salon</strong>
    </p>
</div>