<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <p>
        Ton inscription a bien été prise en compte pour l'évènement <strong>[[${salon}]]</strong>
        qui se déroulera du <strong>[[${startDate}]]</strong> au <strong>[[${endDate}]]</strong> !
    </p>
    <p>
        Nous allons <strong>examiner attentivement</strong> les informations que tu nous as transmises. 🕵️
        Si certaines données venaient à être incomplètes, nous te contacterons au plus vite par email ou par téléphone.
    </p>
    <p>
        En fonction de plusieurs critères (nombre de places disponibles, catégorie de stand, etc.),
        nous te tiendrons informé <strong>dès que possible</strong> de la validation ou non de ton inscription. 📬
    </p>
    <p>
        L’équipe reste disponible si tu as la moindre question ou demande à nous transmettre.
    </p>
    <p>
        En attendant, on te souhaite une belle semaine pleine d’énergies positives ! ✨
    </p>
</div>
