<!doctype html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription reçue</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
    <p>
        Ton inscription à <strong>l’Ajoie de Mieux Vivre 2026</strong> a été <strong>examinée et acceptée</strong> par le comité. 🎉
    </p>

    <p>
        Tu recevras dans les prochains jours, un email avec <strong>toutes les informations utiles</strong> concernant ta facture
        ainsi que les prochaines étapes pour t’accompagner jusqu’à l’événement.
    </p>

    <p>
        Une question ? <strong>Nous sommes là pour y répondre</strong> avec plaisir. 💌
    </p>

    <p>
        En attendant, nous te souhaitons une <strong>magnifique semaine remplie de belles énergies</strong>. 🌟<br>
        On se réjouit sincèrement de t’accueillir dans <strong>cette belle aventure</strong> !
    </p>
    <div th:include="mail/common/footer::footer"></div>
</body>
</html>
