<!doctype html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription reçue</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
    <p>
        Ton inscription a bien été prise en compte pour le salon de <strong>l’Ajoie de Mieux Vivre 2025</strong>
        qui se déroulera du <strong>25.07.2026</strong> au <strong>26.04.2026</strong>.
    </p>

    <p>
        Nous allons <strong>examiner attentivement</strong> les informations que tu nous as transmises. 🕵️
        Si certaines données venaient à être incomplètes, nous te contacterons au plus vite par email ou par téléphone.
    </p>

    <p>
        En fonction de plusieurs critères (nombre de places disponibles, catégorie de stand, etc.),
        nous te tiendrons informé <strong>dès que possible</strong> de la validation ou non de ton inscription. 📬
    </p>

    <p>
        Si tu as la moindre question, <strong>n’hésite pas à nous contacter</strong>, nous serons ravis de t’aider. 😊
    </p>

    <p>
        En attendant, on te souhaite une belle semaine pleine d’énergies positives ! ✨
    </p>
    <div th:include="mail/common/footer::footer"></div>
</body>
</html>
