<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <p>
        Bienvenue dans l’aventure !
    </p>
    <p>
        C'est avec plaisir que nous te confirmons que <strong>ton inscription est officiellement validée</strong> ! 💛
    </p>
    <p>
        Nous avons hâte de t’accueillir à l'évènement <strong>[[${salon}]]</strong>,
        qui se tiendra du <strong>[[${startDate}]]</strong> au <strong>[[${endDate}]]</strong> !
    </p>
    <p>
        Il restera simplement <strong>le solde des repas</strong> à régler directement lors de l’événement.
    </p>
    <p>
        D’ici là, nous t’enverrons régulièrement toutes les informations nécessaires pour t’accompagner au mieux jusqu’au jour de l’événement.
    </p>
    <p>
        En attendant ce beau moment de partage, nous te souhaitons une douce semaine pleine de belles énergies. ⭐
    </p>
    <p>
        Avec toute notre bienveillance,<br />
        <strong>L’équipe du salon</strong>
    </p>
</div>