<div>
  <h2 id="page-heading" data-cy="StandHeading">
    <span jhiTranslate="salonApp.stand.home.title">Stands</span>

    <hr />

    <div class="d-flex justify-content-between mt-3">
      <span>
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>
      </span>

      <span>
        <button class="btn btn-info btn-sm" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
          <span jhiTranslate="salonApp.stand.home.refreshListLabel">Actualiser</span>
        </button>

        <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary btn-sm" [routerLink]="['/admin/stands/new']">
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="salonApp.stand.home.createLabel">Créer</span>
        </button>
      </span>
    </div>

    <hr />
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (stands?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="salonApp.stand.home.notFound">Aucun Stand trouvé</span>
    </div>
  }

  @if (stands && stands.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th>
              <div class="d-flex">
                <span jhiTranslate="salonApp.stand.exponent">Exponent</span>
              </div>
            </th>
            <th>
              <div class="d-flex">
                <span jhiTranslate="salonApp.stand.description">Description</span>
              </div>
            </th>
            <th>
              <div class="d-flex">
                <span jhiTranslate="salonApp.stand.needArrangment">Need arrangment</span>
              </div>
            </th>
            <th>
              <div class="d-flex">
                <span jhiTranslate="salonApp.stand.acceptedContract">Accepted Contract</span>
              </div>
            </th>
            <th>
              <div class="d-flex">
                <span jhiTranslate="salonApp.stand.acceptedChart">Accepted Chart</span>
              </div>
            </th>
            <th>
              <div class="d-flex">
                <span jhiTranslate="salonApp.stand.dimension">Dimension</span>
              </div>
            </th>
            <th>
              <div class="d-flex">
                <span jhiTranslate="salonApp.stand.registrationDate">Registration date</span>
              </div>
            </th>
            <th>
              <div class="d-flex">
                <span jhiTranslate="salonApp.stand.status">Status</span>
              </div>
            </th>
            <th>
              <div class="d-flex">
                <span jhiTranslate="salonApp.stand.isBillingClosed">Est payé</span>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (stand of stands; track trackId) {
            <tr data-cy="entityTable">
              <td>
                @if (stand.exponent) {
                  <div>
                    <a [routerLink]="['/exponent', stand.exponent.id, 'view']">{{ stand.exponent.fullName }}</a>
                  </div>
                }
              </td>
              <td>{{ stand.description }}</td>
              <td>
                <fa-icon
                  icon="{{ stand.needArrangment | faIconBoolean }}"
                  style="{{ stand.needArrangment | faIconColorBoolean }}"
                ></fa-icon>
              </td>
              <td>
                <fa-icon
                  icon="{{ stand.acceptedContract | faIconBoolean }}"
                  style="{{ stand.acceptedContract | faIconColorBoolean }}"
                ></fa-icon>
              </td>
              <td>
                <fa-icon icon="{{ stand.acceptedChart | faIconBoolean }}" style="{{ stand.acceptedChart | faIconColorBoolean }}"></fa-icon>
              </td>
              <td>
                @if (stand.dimension) {
                  <div>
                    <a [routerLink]="['/dimension-stand', stand.dimension.id, 'view']">{{ stand.dimension.dimension }}</a>
                  </div>
                }
              </td>
              <td>{{ stand.registrationDate | formatMediumDate }}</td>
              <td>{{ stand.status }}</td>
              <td>
                <fa-icon
                  icon="{{ stand.isBillingClosed | faIconBoolean }}"
                  style="{{ stand.isBillingClosed | faIconColorBoolean }}"
                ></fa-icon>
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/admin/stands', stand.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/admin/stands', stand.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(stand)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
