@import 'content/scss/bootstrap-variables';

.sticky-col {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.25em 0.5em;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .grid {
    font-size: 0.85rem;
  }
}

.grid {
  display: grid;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.5em;
}

.unavailable-time {
  background-color: #cccccc;
  color: white;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255);
}

.slot:not(.unavailable-time) {
  user-select: none;
  color: white;

  &:hover {
    color: black;
    cursor: pointer;
  }
}

.content-slot {
  width: 100%;
  height: auto;
  padding: 0.5em;
  text-align: center;
}
