<div (cdkDragEnded)="dragEnded.emit($event)"
     (cdkDragMoved)="dragMoved.emit($event)"
     (cdkDragStarted)="dragStarted.emit($event)"
     [cdkDragData]="dragData ?? dimension"
     [cdkDragDisabled]="dragDisabled"
     [cdkDragStartDelay]="150"
     [ngClass]="[variant, dragging ? 'dragging' : '']"
     [style.border]="dimension.searched ? '3px solid var(--app-contrast)': undefined"
     [style.background-color]="dimension.color"
     [style.cursor]="cursor"
     [style.height.px]="dimension.rows * pixels"
     [style.width.px]="dimension.cols * pixels"
     cdkDrag
     class="dimension-tile no-selection">
    <!-- handle pleine surface -->
    <div cdkDragHandle class="handle">
        <div class="shape-inside">
            @if (!displayTechnical) {
                <div class="business-info">
                    @if (!dimension.stand) {
                        <span>{{ dimension.dimension }}</span>
                    }
                    @if (displayParticipationName() && dimension.stand?.participation; as participation) {
                        <div>
                            @if (displayFullname) {
                                {{ getFirstExhibitorName(participation.exhibitor) }}
                            } @else {
                                {{ participation.therapistName }}
                            }
                        </div>
                    }
                </div>
            }

            @if (displayHeader) {
                <div class="technical-header">
                    <div class="technical-info-item gap-1 justify-content-start ps-1">
                        @if (displaySensibleInformation() && dimension.stand?.participation; as participation) {
                            <fa-icon [class]="participation.status | colorStatus"
                                     [icon]="participation.status | status"
                                     [title]="'participation.status.list.' + participation.status | translate"></fa-icon>
                        }
                        @if (displaySensibleInformation() && dimension.stand && dimension.stand.dimension.id !== dimension.idDimension) {
                            <fa-icon [title]="'floorPlan.differentDimension' | translate"
                                     class="text-danger"
                                     icon="warning"></fa-icon>
                        }
                        @if (displaySensibleInformation() && dimension.prereserved) {
                            <fa-icon [title]="dimension.prereserved.note"
                                     class="text-primary"
                                     icon="tag"></fa-icon>
                        }
                    </div>

                    <div class="technical-info-item justify-content-end pe-1">
                        @if (dimension.position; as position) {
                            <span [title]="'stand.position' | translate">{{ position }}</span>
                        }
                    </div>
                </div>
            }

            @if (displaySensibleInformation() && displayTechnical) {
                <div class="technical-info">
                    <div class="technical-info-item">&nbsp;</div>
                    <div class="technical-info-item">&nbsp;</div>
                    <div class="technical-info-item">&nbsp;</div>

                    @if (dimension.stand; as stand) {
                        @if (stand.needElectricity) {
                            <div [title]="'stand.needElectricity' | translate" class="technical-info-item">
                                <fa-icon class="icon-warning-active" icon="bolt-lightning"></fa-icon>
                            </div>
                        }

                        @if (stand.nbChair > 0) {
                            <div [title]="'stand.nbChair' | translate" class="technical-info-item">
                                {{ stand.nbChair }}
                                <fa-icon class="icon-active" icon="chair"></fa-icon>
                            </div>
                        }

                        @if (stand.nbTable > 0) {
                            <div [title]="'stand.nbTable' | translate" class="technical-info-item">
                                {{ stand.nbTable }}
                                <fa-icon class="icon-active" icon="cube"></fa-icon>
                            </div>
                        }

                        @if (stand.shared) {
                            <div [title]="'stand.shared' | translate" class="technical-info-item">
                                <fa-icon class="icon-active" icon="people-arrows"></fa-icon>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>