<p-dialog [visible]="visible()"
          (visibleChange)="visible.set($event)"
          (onHide)="onHide()"
          [modal]="true"
          appendTo="body"
          [closable]="closable()"
          [closeOnEscape]="closeOnEscape()"
          [dismissableMask]="dismissableMask()"
          [blockScroll]="blockScroll()"
          [style]="{ width: '1080px', maxWidth: '1080px' }"
          [breakpoints]="{ '1024px': '90vw', '640px': '95vw' }"
          [draggable]="false"
          [resizable]="false">
    <ng-template pTemplate="header">
        <div class="dialog-header">
            <span class="dialog-title"><h4>{{ header() }}</h4></span>
        </div>
    </ng-template>
    <div class="dialog-body">
        <ng-content></ng-content>
    </div>
    @switch (mode()) {
        @case ('edit') {
            <ng-template pTemplate="footer">
                <div class="dialog-footer">
                    <button pButton
                            type="button"
                            class="p-button-text"
                            (click)="onCancelClick()">
                        {{ cancelLabel() }}
                    </button>

                    <button pButton
                            type="button"
                            [disabled]="confirmDisabled() || confirmLoading()"
                            [loading]="confirmLoading()"
                            (click)="onConfirmClick()">
                        {{ confirmLabel() }}
                    </button>
                </div>
            </ng-template>
        }
    }
</p-dialog>