<p-dialog (onHide)="onHide()"
          (visibleChange)="visible.set($event)"
          [blockScroll]="blockScroll()"
          [breakpoints]="{ '1024px': '90vw', '640px': '95vw' }"
          [closable]="closable()"
          [closeOnEscape]="closeOnEscape()"
          [dismissableMask]="dismissableMask()"
          [draggable]="false"
          [modal]="true"
          [resizable]="false"
          [style]="{ width: '1080px', maxWidth: '1080px' }"
          [visible]="visible()"
          appendTo="body">
    <ng-template pTemplate="header">
        <div class="dialog-header">
            <span class="dialog-title"><h4>{{ header() }}</h4></span>
        </div>
    </ng-template>
    <div class="dialog-body">
        <ng-content></ng-content>
    </div>
    @switch (mode()) {
        @case ('edit') {
            <ng-template pTemplate="footer">
                <div class="dialog-footer">
                    <button-box (clickedEvent)="onCancelClick()" [translateKey]="cancelLabel()" [showText]="true" type="secondary"/>

                    <button-box (clickedEvent)="onConfirmClick()" [isDisabled]="confirmDisabled() || confirmLoading()" [loading]="confirmLoading()" [showText]="true" [translateKey]="confirmLabel()" type="primary"/>
                </div>
            </ng-template>
        }
    }
</p-dialog>