<app-content-page>
    <div appMenuBarStart>
        <h3 jhiTranslate="exhibitor.title">L'annuaire client</h3>
    </div>
    <div appMenuBarEnd>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading"
                    [showText]="false"
                    primeIcon="pi-arrow-left"
                    translateKey="common.back"/>
        <split-menu-box [items]="actionMenuItems"
                        [buttonDisabled]="isLoading"/>
    </div>
    <app-alert-error></app-alert-error>


    <p-confirmpopup/>
    <app-card [showHeader]="false">
        <div appCardBody>
            <div class="row">
                <p-table #dt2
                         [globalFilterFields]="['firstName', 'lastName', 'email', 'phoneNumber']"
                         [loading]="isLoading"
                         [paginator]="true"
                         [rowsPerPageOptions]="[10, 25, 50]"
                         [rows]="10"
                         [tableStyle]="{ 'min-width': '60rem' }"
                         [value]="exhibitors"
                         dataKey="id"
                         sortField="lastName">
                    <ng-template #caption>
                        <div class="flex">
                            <p-iconfield class="ml-auto" iconPosition="left">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input (input)="dt2.filterGlobal($event.target.value, 'contains')" pInputText
                                       placeholder="Recherche"
                                       type="text"/>
                            </p-iconfield>
                        </div>
                    </ng-template>
                    <ng-template #header>
                        <tr>
                            <th pSortableColumn="lastName">{{ 'exhibitor.fullName' | translate }}
                                <p-sortIcon field="lastName"/>
                                <p-columnFilter display="menu"
                                                field="lastName"
                                                matchMode="contains"
                                                size="small"
                                                type="text"></p-columnFilter>
                            </th>
                            <th pSortableColumn="email">{{ 'exhibitor.email' | translate }}
                                <p-sortIcon field="email"/>
                                <p-columnFilter display="menu" field="email" matchMode="contains"
                                                type="text"></p-columnFilter>
                            </th>
                            <th pSortableColumn="phoneNumber">{{ 'exhibitor.phoneNumber' | translate }}
                                <p-sortIcon field="phoneNumber"/>
                                <p-columnFilter display="menu"
                                                field="phoneNumber"
                                                matchMode="contains"
                                                type="text"></p-columnFilter>
                            </th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-exhibitor>
                        <tr>
                            <td [routerLink]="['./', exhibitor.id, 'view']"
                                class="clickable truncate-medium">{{ getExhibitorFullName(exhibitor) }}
                            </td>
                            <td [routerLink]="['./', exhibitor.id, 'view']"
                                class="clickable truncate-medium">{{ exhibitor.email }}
                            </td>
                            <td [routerLink]="['./', exhibitor.id, 'view']"
                                class="clickable truncate-small">{{ exhibitor.phoneNumber }}
                            </td>
                            <td [routerLink]="['./', exhibitor.id, 'view']" class="clickable">
                                <div class="d-flex">
                                    @if (exhibitor.redFlag) {
                                        <fa-icon [title]="'exhibitor.redFlag' | translate"
                                                 class="text-danger"
                                                 icon="flag"></fa-icon>
                                    }
                                    @if (exhibitor.duplicateDetected) {
                                        <fa-icon [title]="'exhibitor.duplicateDetected' | translate"
                                                 class="text-warning"
                                                 icon="triangle-exclamation"></fa-icon>
                                    }
                                </div>
                            </td>
                            <td class="text-end">
                                <div class="btn-group">
                                    <button-box (clickedEvent)="delete($event, exhibitor)"
                                                [isSubmit]="true"
                                                [showText]="false"
                                                primeIcon="pi-times"
                                                translateKey="common.delete"
                                                type="danger"/>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="5">{{ 'exhibitor.notFound' | translate }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </app-card>
</app-content-page>