<app-content-page [formGroup]="editForm">
    <div appMenuBarStart>
        @if (editForm.controls.id.value) {
            <h3>{{ 'stand.edit' | translate }}</h3>
        } @else {
            <h3>{{ 'stand.create' | translate }}</h3>
        }
    </div>
    <div appMenuBarEnd>
        <button-box (clickedEvent)="previousState()"
                    [isDisabled]="isLoading"
                    faIcon="arrow-left"
                    translateKey="common.back"
                    [showText]="false"/>
        @if (isReadOnly) {
            <button-box (clickedEvent)="edit()"
                        [isDisabled]="isLoading"
                        faIcon="pencil-alt"
                        translateKey="common.edit"
                        [showText]="false"/>
        }

        @if (editForm.controls.id.value && !isReadOnly) {
            <button-box (clickedEvent)="cancel()"
                        [isDisabled]="isLoading"
                        faIcon="ban"
                        translateKey="common.cancel"
                        [showText]="false"
                        type="secondary"/>
        }

        @if (!isReadOnly) {
            <button-box (clickedEvent)="save()"
                        [isDisabled]="editForm.invalid || isLoading"
                        [isSubmit]="true"
                        faIcon="floppy-disk"
                        translateKey="common.save"
                        [showText]="false"/>
        }
    </div>
    <app-alert-error></app-alert-error>
    <app-alert></app-alert>
    <p-toast/>
    <p-confirmpopup/>
    <app-card>
        <div appCardHeader>
            <h4>{{ 'common.info-basic' | translate }}</h4>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-12">
                    <textarea-box [maxLength]="500"
                                  [rows]="6"
                                  [showCounter]="true"
                                  fieldName="description"
                                  formControlName="description"
                                  translateKey="stand.description"/>
                </div>
                <div class="mt-4 col-lg-6">
                    <select-box [formatterFunction]="formatterDimensionStand"
                                [options]="dimensionsOptions"
                                [enableFilter]="true"
                                [filterFields]="selectFilterDimension()"
                                fieldName="dimension"
                                formControlName="dimension"
                                translateKey="stand.dimension"/>
                </div>
                <div class="mt-4 col-lg-6">
                    <select-box [formatterFunction]="formatterCategory"
                                [needTranslation]="true"
                                [options]="categoryValues"
                                fieldName="category"
                                formControlName="category"
                                translateKey="stand.category.label"/>
                </div>
                <div class="mt-4 col-12">
                    <chips-box fieldName="subCategories"
                               formControlName="subCategories"
                               translateKey="stand.subCategories"/>
                </div>
                <div class="mt-4 col-6 col-lg-3">
                    <number-box fieldName="nbTable" formControlName="nbTable" translateKey="stand.nbTable"/>
                </div>
                <div class="mt-4 col-6 col-lg-3">
                    <number-box fieldName="nbChair" formControlName="nbChair" translateKey="stand.nbChair"/>
                </div>
                <div class="mt-4 col-6 col-lg-3">
                    <checkbox-box fieldName="needElectricity"
                                  formControlName="needElectricity"
                                  translateKey="stand.needElectricity"/>
                </div>
                <div class="mt-4 col-6 col-lg-3">
                    <checkbox-box fieldName="shared" formControlName="shared" translateKey="stand.shared"/>
                </div>
            </div>
        </div>
    </app-card>

    <app-card>
        <div appCardHeader>
            <h4>{{ 'stand.card.socialNetwork' | translate }}</h4>
        </div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-lg-4">
                    <text-box fieldName="website" formControlName="website" translateKey="stand.website"/>
                </div>
                <div class="mt-4 col-lg-4">
                    <text-box fieldName="instagram" formControlName="instagram" translateKey="stand.instagram"/>
                </div>
                <div class="mt-4 col-lg-4">
                    <text-box fieldName="facebook" formControlName="facebook" translateKey="stand.facebook"/>
                </div>
                <div class="mt-4 col-12">
                    <text-box fieldName="urlPicture" formControlName="urlPicture" translateKey="stand.urlPicture"/>
                </div>
            </div>
        </div>
    </app-card>

    <app-card>
        <div appCardHeader><h4>{{ 'common.info-intern' | translate }}</h4></div>
        <div appCardBody>
            <div class="row">
                <div class="mt-4 col-lg-6 d-flex">
                    <select-box [formatterFunction]="formatterParticipation"
                                [options]="participationsOptions"
                                [enableFilter]="true"
                                [filterFields]="selectFilterParticipation()"
                                fieldName="participation"
                                formControlName="participation"
                                translateKey="stand.participation"
                                class="w-100"/>
                    @if (isReadOnly) {
                        <link-box class="align-content-center"
                                  style="border: 1px dashed #555555;border-radius: 0 0.25em 0.25em 0;padding: 0.25em;border-left:0"
                                  [links]="['/admin', 'salons', eventId, 'participations', editForm.controls.participation.value?.id ?? '','view']"
                                  [showText]="false"
                                  faIcon="link"/>
                    }
                </div>
                <div class="mt-4 col-lg-6">
                    <select-box [formatterFunction]="formatterStatus"
                                [needTranslation]="true"
                                [options]="statusValues"
                                fieldName="status"
                                formControlName="status"
                                translateKey="stand.status.label"/>
                </div>
                <div class="mt-4 col-12">
                    <textarea-box fieldName="extraInformation"
                                  formControlName="extraInformation"
                                  translateKey="stand.extraInformation"/>
                </div>
            </div>
        </div>
    </app-card>
</app-content-page>
