<div>
  <script>
    $('input[data-toggle="toggle"]').bootstrapToggle();
  </script>
  @if (participation()) {
    <div>
      <h2>
        <span jhiTranslate="participation.billing.title">Facturation de la participation</span>
      </h2>
      <hr />
      <div class="d-flex justify-content-between mt-2">
        <span>
          <button type="button" (click)="previousState()" class="btn btn-primary btn-sm">
            <fa-icon [title]="'common.view' | translate" icon="arrow-left"></fa-icon>
          </button>
        </span>
      </div>

      <hr />
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card h-100">
          <h5 class="card-header">Détail</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_exhibitor" jhiTranslate="participation.exhibitor">Exposant</label>
              </div>
              <div class="col-sm-4 align-content-center">
                <input type="text" class="form-control" id="field_exhibitor" value="{{ participation()!.exhibitor?.fullName }}" disabled />
              </div>
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_date" jhiTranslate="participation.registrationDate">Date d'inscription</label>
              </div>
              <div class="col-sm-4 align-content-center">
                <input
                  type="text"
                  class="form-control"
                  id="field_date"
                  value="{{ participation()!.registrationDate | formatMediumDate }}"
                  disabled
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_isBillingClosed" jhiTranslate="participation.isBillingClosed">Factures payées ?</label>
              </div>
              <div class="col-sm-2 align-content-center">
                <label class="switch">
                  <input
                    type="checkbox"
                    name="isBillingClosed"
                    id="field_isBillingClosed"
                    [checked]="participation()!.isBillingClosed"
                    disabled
                  />
                  <span class="slider"></span>
                </label>
              </div>
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_needArrangment" jhiTranslate="participation.needArrangment">Arrangement ?</label>
              </div>
              <div class="col-sm-2 align-content-center">
                <label class="switch">
                  <input
                    type="checkbox"
                    name="needArrangment"
                    id="field_needArrangment"
                    [checked]="participation()!.needArrangment"
                    disabled
                  />
                  <span class="slider"></span>
                </label>
              </div>
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_date" jhiTranslate="participation.status.label">Status</label>
              </div>
              <div class="col-sm-2 align-content-center">
                <input
                  type="text"
                  class="form-control"
                  id="field_status"
                  value="{{ 'participation.status.list.' + (participation()!.status ?? 'null') | translate }}"
                  disabled
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_extraInformation" jhiTranslate="participation.extraInformation">Information complémentaire</label>
              </div>
              <div class="col-sm-10">
                <textarea
                  class="form-control"
                  name="extraInformation"
                  id="field_extraInformation"
                  rows="3"
                  value="{{ participation()!.extraInformation }}"
                  disabled
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card h-100">
          <h5 class="card-header">Evénements</h5>
          <div class="card-body log-container">
            <div class="row log-row" *ngFor="let eventLog of eventLogs$ | async; let i = index">
              <div class="col-sm-auto align-content-center">{{ eventLog.referenceDate | formatMediumDatetime }}</div>
              <div class="col-sm-auto align-content-center">
                <fa-icon icon="{{ eventLog.type | eventType }}"></fa-icon>
              </div>
              <div class="col-sm-auto align-content-center">{{ eventLog.label }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-sm-12">
        <div class="col" *ngIf="!participation()?.isBillingClosed">
          <div class="d-flex justify-content-end mb-3">
            <div>
              <button class="btn btn-primary btn-sm" (click)="generate()">
                <span jhiTranslate="common.refresh">Rafraichir</span>
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive table-entities" id="entities-invoices">
          <div class="accordion" id="facturations">
            @for (invoicingPlan of invoicingPlans$ | async; track $index) {
              <div class="accordion-item">
                <h2 class="accordion-header" [id]="'heading' + $index">
                  <button
                    class="accordion-button"
                    [ngClass]="{ collapsed: $index != 0 }"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + $index"
                    aria-expanded="true"
                    [attr.aria-controls]="'collapse' + $index"
                  >
                    <div class="col">
                      <div class="row">
                        <div class="col-4 text-left">Facturation N°{{ invoicingPlan.billingNumber }}</div>
                        <div class="col-4 text-center">{{ invoicingPlan.generationDate | formatMediumDate }}</div>
                        <div class="col-4 pe-5 text-end">
                          @if (invoicingPlan.state === State.CLOSED) {
                            <span>Fermé</span>
                          } @else if (invoicingPlan.state === State.CURRENT) {
                            <span>Ouvert</span>
                          }
                        </div>
                      </div>
                    </div>
                  </button>
                </h2>
                <div
                  [id]="'collapse' + $index"
                  class="accordion-collapse collapse"
                  [ngClass]="{ show: $index == 0 }"
                  [attr.aria-labelledby]="'heading' + $index"
                  data-bs-parent="#facturations"
                >
                  <div class="col">
                    <div class="d-flex justify-content-end mt-3 me-3">
                      <div>
                        @if (invoicingPlan.state === State.CLOSED) {
                          <button
                            [disabled]="mustDisableSendButton(invoicingPlan)"
                            class="btn btn-primary btn-sm"
                            (click)="sendInvoice(invoicingPlan)"
                          >
                            <span jhiTranslate="invoicingPlan.resend">Renvoyer facture</span>
                          </button>
                        } @else if (invoicingPlan.state === State.CURRENT) {
                          <button
                            [disabled]="mustDisableSendButton(invoicingPlan)"
                            class="btn btn-warning btn-sm"
                            (click)="sendInvoice(invoicingPlan)"
                          >
                            <span jhiTranslate="invoicingPlan.send">Envoyer facture</span>
                          </button>
                        }
                        <button
                          [disabled]="mustDisableSendButton(invoicingPlan)"
                          class="btn btn-secondary btn-sm"
                          (click)="sendInvoiceReceipt(invoicingPlan)"
                        >
                          <span jhiTranslate="invoicingPlan.receipt.send">Envoyer quittance</span>
                        </button>
                      </div>
                    </div>
                  </div>

                  <hr />

                  <div class="accordion-body">
                    <table class="table table-hover" aria-describedby="page-heading">
                      <thead class="thead-primary">
                        <tr>
                          <th class="col-auto text-center">
                            <span>&nbsp;</span>
                          </th>
                          <th class="col-auto">
                            <span>Date</span>
                          </th>
                          <th class="col-auto text-center">
                            <span>&nbsp;</span>
                          </th>
                          <th class="col-3">
                            <span>Libellé</span>
                          </th>
                          <th class="col-auto text-center">
                            <span>&nbsp;</span>
                          </th>
                          <th class="col-auto text-center">
                            <span>Montant</span>
                          </th>
                          <th class="col-auto text-center">
                            <span>Quantité</span>
                          </th>
                          <th class="col-auto text-center">
                            <span>Total</span>
                          </th>
                          <th class="col-3">
                            <span>Commentaire</span>
                          </th>
                          <th class="col-1">
                            <span>&nbsp;</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody style="border: 1px solid grey">
                        @if (invoicingPlan.invoices; as invoices) {
                          <tr>
                            <td class="table-section align-middle fw-bold" colspan="9">Factures</td>
                            <td class="table-section align-middle text-end">
                              <button
                                id="jh-create-invoice"
                                class="btn btn-success btn-sm"
                                *ngIf="invoicingPlan.state !== State.CLOSED"
                                (click)="addInvoice(invoicingPlan)"
                              >
                                <fa-icon icon="plus"></fa-icon>
                              </button>
                            </td>
                          </tr>
                          @if (!invoices.length) {
                            <tr>
                              <td>&nbsp;</td>
                              <td colspan="9">
                                <span>Aucune facture</span>
                              </td>
                            </tr>
                          } @else if (invoices.length) {
                            @for (invoice of invoices; track $index) {
                              <tr>
                                <td>&nbsp;</td>
                                <td>{{ invoice.generationDate | formatMediumDate }}</td>
                                <td class="text-center">
                                  <fa-icon
                                    *ngIf="!mustBeReadMode(invoice, invoicingPlan)"
                                    icon="{{ invoice.lock | lockBoolean }}"
                                    size="lg"
                                    class="{{ invoice.lock | colorLockBoolean }}"
                                    (click)="onClickLock(invoice)"
                                  ></fa-icon>
                                  <fa-icon
                                    *ngIf="mustBeReadMode(invoice, invoicingPlan)"
                                    icon="{{ invoice.lock | lockBoolean }}"
                                    size="lg"
                                    class="{{ invoice.lock | colorLockBoolean }}"
                                    disabled
                                  ></fa-icon>
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    (blur)="onLabelChange($event, invoice)"
                                    *ngIf="!mustBeReadMode(invoice, invoicingPlan)"
                                    value="{{ invoice.label }}"
                                  />
                                  @if (!!mustBeReadMode(invoice, invoicingPlan)) {
                                    {{ invoice.label }}
                                  }
                                </td>

                                <td class="text-center">
                                  @if (hasDiffCustomAndDefault(invoice) && invoice.id) {
                                    <fa-icon
                                      icon="circle-info"
                                      class="text-warning"
                                      title="{{ 'invoicingPlan.amount.different' | translate: { defaultPrice: invoice.defaultAmount } }}"
                                    ></fa-icon>
                                  }
                                  &nbsp;
                                </td>
                                <td class="text-center">
                                  <input
                                    type="number"
                                    class="form-control text-center"
                                    *ngIf="!mustBeReadMode(invoice, invoicingPlan)"
                                    (blur)="onCustomAmountChange($event, invoice)"
                                    value="{{ invoice.customAmount }}"
                                  />
                                  @if (mustBeReadMode(invoice, invoicingPlan)) {
                                    {{ invoice.customAmount | currency: 'CHF' }}
                                  }
                                </td>
                                <td class="text-center">{{ invoice.quantity }}</td>
                                <td class="text-center">
                                  {{ (invoice.quantity ?? 0) * (invoice.customAmount ?? 0) | currency: 'CHF' }}
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    (blur)="onExtraInformationChange($event, invoice)"
                                    *ngIf="!mustBeReadMode(invoice, invoicingPlan)"
                                    value="{{ invoice.extraInformation }}"
                                  />
                                  @if (mustBeReadMode(invoice, invoicingPlan)) {
                                    {{ invoice.extraInformation }}
                                  }
                                </td>
                                <td class="text-end">
                                  <span *ngIf="invoicingPlan.state === State.CURRENT && !this.participation()?.isBillingClosed">
                                    <button
                                      *ngIf="invoice.readMode"
                                      type="button"
                                      class="btn btn-primary btn-sm"
                                      (click)="editActionInvoice(invoice)"
                                    >
                                      <fa-icon [title]="'common.edit' | translate" icon="pencil-alt"></fa-icon>
                                    </button>
                                    <button
                                      *ngIf="!invoice.readMode"
                                      type="button"
                                      class="btn btn-primary btn-sm"
                                      (click)="readActionInvoice(invoicingPlan, invoice)"
                                    >
                                      <fa-icon [title]="'common.save' | translate" icon="floppy-disk"></fa-icon>
                                    </button>
                                  </span>
                                </td>
                              </tr>
                            }
                          }
                        }
                        @if (invoicingPlan.payments; as payments) {
                          <tr>
                            <td class="table-section align-middle fw-bold" colspan="9">Paiements</td>
                            <td class="table-section align-middle text-end">
                              <button
                                id="jh-create-payment"
                                class="btn btn-success btn-sm"
                                *ngIf="invoicingPlan.state !== State.CLOSED"
                                (click)="addPayment(invoicingPlan)"
                              >
                                <fa-icon icon="plus"></fa-icon>
                              </button>
                            </td>
                          </tr>
                          @if (!payments.length) {
                            <tr>
                              <td>&nbsp;</td>
                              <td colspan="9">
                                <span>Aucun paiement</span>
                              </td>
                            </tr>
                          }
                          @if (payments.length) {
                            @for (payment of payments; track $index) {
                              <tr>
                                <td>&nbsp;</td>
                                <td>{{ payment.billingDate | formatMediumDate }}</td>
                                <td>&nbsp;</td>
                                <td>
                                  <select
                                    class="form-control"
                                    name="mode"
                                    id="field_mode"
                                    [value]="payment.paymentMode"
                                    (blur)="onPaymentModeChange($event, payment)"
                                    *ngIf="!mustPaymentBeReadMode(payment, invoicingPlan)"
                                  >
                                    @for (mode of modeValues; track $index) {
                                      <option [value]="mode">{{ 'payment.type.list.' + mode | translate }}</option>
                                    }
                                  </select>
                                  @if (mustPaymentBeReadMode(payment, invoicingPlan)) {
                                    {{ 'payment.type.list.' + (payment.paymentMode ?? 'null') | translate }}
                                  }
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="text-center">
                                  <input
                                    type="number"
                                    class="form-control text-center"
                                    *ngIf="!mustPaymentBeReadMode(payment, invoicingPlan)"
                                    (blur)="onAmountPaymentChange($event, payment)"
                                    value="{{ payment.amount }}"
                                  />
                                  @if (mustPaymentBeReadMode(payment, invoicingPlan)) {
                                    {{ payment.amount | currency: 'CHF' }}
                                  }
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    (blur)="onExtraInformationPaymentChange($event, payment)"
                                    *ngIf="!mustPaymentBeReadMode(payment, invoicingPlan)"
                                    value="{{ payment.extraInformation }}"
                                  />
                                  @if (mustPaymentBeReadMode(payment, invoicingPlan)) {
                                    {{ payment.extraInformation }}
                                  }
                                </td>
                                <td class="text-end">
                                  <span *ngIf="invoicingPlan.state === State.CURRENT && !this.participation()?.isBillingClosed">
                                    <button
                                      *ngIf="payment.readMode"
                                      type="button"
                                      class="btn btn-primary btn-sm"
                                      (click)="editActionPayment(payment)"
                                    >
                                      <fa-icon [title]="'common.edit' | translate" icon="pencil-alt"></fa-icon>
                                    </button>
                                    <button
                                      *ngIf="!payment.readMode"
                                      type="button"
                                      class="btn btn-primary btn-sm"
                                      (click)="readActionPayment(invoicingPlan, payment)"
                                    >
                                      <fa-icon [title]="'common.save' | translate" icon="floppy-disk"></fa-icon>
                                    </button>
                                    <button
                                      type="button"
                                      class="btn btn-danger btn-sm"
                                      (click)="deleteActionPayment(invoicingPlan, payment)"
                                      *ngIf="payment.readMode"
                                    >
                                      <fa-icon [title]="'common.delete' | translate" icon="times"></fa-icon>
                                    </button>
                                  </span>
                                </td>
                              </tr>
                            }
                          }
                        }
                        <tr>
                          <td class="table-section-ending align-middle">Résultat</td>
                          <td colspan="6" class="table-section-ending">&nbsp;</td>
                          <td class="table-section-ending text-center align-middle">
                            {{ remainingTotal(invoicingPlan) | currency: 'CHF' }}
                          </td>
                          <td class="table-section-ending">&nbsp;</td>
                          <td class="table-section-ending">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
