<div>
  <script>
    $('input[data-toggle="toggle"]').bootstrapToggle();
  </script>
  @if (participation()) {
    <div>
      <h2 data-cy="participationDetailsHeading">
        <span jhiTranslate="participation.billing.title">Facturation de la participation</span>
      </h2>

      <hr />

      <div class="d-flex justify-content-between mt-2">
        <span>
          <button type="button" (click)="previousState()" class="btn btn-primary btn-sm" data-cy="entityDetailsBackButton">
            <fa-icon [title]="'common.view' | translate" icon="arrow-left"></fa-icon>
          </button>
        </span>
      </div>

      <hr />
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card h-100">
          <h5 class="card-header">Détail</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_exhibitor" jhiTranslate="participation.exhibitor">Exposant</label>
              </div>
              <div class="col-sm-4 align-content-center">
                <input type="text" class="form-control" id="field_exhibitor" value="{{ participation()!.exhibitor?.fullName }}" disabled />
              </div>
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_date" jhiTranslate="participation.registrationDate">Date d'inscription</label>
              </div>
              <div class="col-sm-4 align-content-center">
                <input
                  type="text"
                  class="form-control"
                  id="field_date"
                  value="{{ participation()!.registrationDate | formatMediumDate }}"
                  disabled
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_isBillingClosed" jhiTranslate="participation.isBillingClosed">Factures payées ?</label>
              </div>
              <div class="col-sm-4 align-content-center">
                <label class="switch">
                  <input
                    type="checkbox"
                    name="isBillingClosed"
                    id="field_isBillingClosed"
                    [checked]="participation()!.isBillingClosed"
                    disabled
                  />
                  <span class="slider"></span>
                </label>
              </div>
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_date" jhiTranslate="participation.status.label">Status</label>
              </div>
              <div class="col-sm-4 align-content-center">
                <input
                  type="text"
                  class="form-control"
                  id="field_status"
                  value="{{ 'participation.status.list.' + (participation()!.status ?? 'null') | translate }}"
                  disabled
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-2 fw-bold align-content-center">
                <label for="field_extraInformation" jhiTranslate="participation.extraInformation">Information complémentaire</label>
              </div>
              <div class="col-sm-10">
                <textarea
                  class="form-control"
                  name="extraInformation"
                  id="field_extraInformation"
                  rows="3"
                  value="{{ participation()!.extraInformation }}"
                  disabled
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card h-100">
          <h5 class="card-header">Evénements</h5>
          <div class="card-body log-container">
            <div class="row log-row" *ngFor="let eventLog of eventLogs$ | async; let i = index">
              <div class="col-sm-auto align-content-center">{{ eventLog.referenceDate | formatMediumDatetime }}</div>
              <div class="col-sm-auto align-content-center">
                <fa-icon icon="{{ eventLog.type | eventType }}"></fa-icon>
              </div>
              <div class="col-sm-auto align-content-center">{{ eventLog.label }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="card">
      <h5 class="card-header">Facturations</h5>
      <div class="card-body">
        <div class="col" *ngIf="!participation()?.isBillingClosed">
          <div class="d-flex justify-content-end mb-3">
            <div>
              <button class="btn btn-primary btn-sm" (click)="generate()">
                <span jhiTranslate="common.refresh">Rafraichir</span>
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive table-entities" id="entities-invoices">
          <div class="accordion" id="facturations">
            @for (invoicingPlan of invoicingPlans$ | async; track $index) {
              <div class="accordion-item">
                <h2 class="accordion-header" [id]="'heading' + $index">
                  <button
                    class="accordion-button"
                    [ngClass]="{ collapsed: $index != 0 }"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + $index"
                    aria-expanded="true"
                    [attr.aria-controls]="'collapse' + $index"
                  >
                    <div class="col">
                      <div class="row">
                        <div class="col-4 text-left">{{ invoicingPlan.billingNumber }}</div>
                        <div class="col-4 text-center">{{ invoicingPlan.generationDate | formatMediumDate }}</div>
                        <div class="col-4 pe-5 text-end">
                          <fa-icon
                            icon="{{ invoicingPlan.hasBeenSent | sendBoolean }}"
                            size="lg"
                            [title]="(invoicingPlan.hasBeenSent ? 'invoicingPlan.sent' : 'invoicingPlan.notSent') | translate"
                            class="{{ invoicingPlan.hasBeenSent | colorBool }}"
                          ></fa-icon>
                        </div>
                      </div>
                    </div>
                  </button>
                </h2>
                <div
                  [id]="'collapse' + $index"
                  class="accordion-collapse collapse"
                  [ngClass]="{ show: $index == 0 }"
                  [attr.aria-labelledby]="'heading' + $index"
                  data-bs-parent="#facturations"
                >
                  <div class="col" *ngIf="!invoicingPlan.hasBeenSent">
                    <div class="d-flex justify-content-end mt-3 me-3">
                      <div>
                        <button [disabled]="isSending" class="btn btn-warning btn-sm" (click)="sendInvoicingPlan(invoicingPlan)">
                          <span jhiTranslate="invoicingPlan.send">Envoyer facture</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col" *ngIf="invoicingPlan.hasBeenSent">
                    <div class="d-flex justify-content-end mt-3 me-3">
                      <div>
                        <button [disabled]="isSending" class="btn btn-primary btn-sm" (click)="sendInvoicingPlan(invoicingPlan)">
                          <span jhiTranslate="invoicingPlan.resend">Renvoyer facture</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-body">
                    <table class="table table-striped" aria-describedby="page-heading">
                      <thead>
                        <tr>
                          <th class="col-auto text-center"><span>Verrouillé ?</span></th>
                          <th class="col-auto"><span>Type</span></th>
                          <th class="col-2"><span>Libellé</span></th>
                          <th class="col-1 text-center"><span>Montant configuration</span></th>
                          <th class="col-1 text-center"><span>Montant</span></th>
                          <th class="col-auto text-center"><span>Quantité</span></th>
                          <th class="col-1 text-center"><span>Total</span></th>
                          <th class="col-3 text-center"><span>Extra info</span></th>
                        </tr>
                      </thead>
                      <tbody *ngIf="invoicingPlan.invoices; let invoices">
                        @if (!invoices.length) {
                          <tr>
                            <td colspan="9"><span>Aucune facture trouvé</span></td>
                          </tr>
                        }
                        @if (invoices.length) {
                          @for (invoice of invoices; track $index) {
                            <tr data-cy="entityTable">
                              <td class="text-center" *ngIf="!invoicingPlan.hasBeenSent && !participation()?.isBillingClosed">
                                <fa-icon
                                  icon="{{ invoice.lock | lockBoolean }}"
                                  size="lg"
                                  class="{{ invoice.lock | colorLockBoolean }}"
                                  (click)="switchLock(invoicingPlan, invoice)"
                                ></fa-icon>
                              </td>
                              <td class="text-center" *ngIf="invoicingPlan.hasBeenSent || participation()?.isBillingClosed">
                                <fa-icon
                                  icon="{{ invoice.lock | lockBoolean }}"
                                  size="lg"
                                  class="{{ invoice.lock | colorLockBoolean }}"
                                  disabled
                                ></fa-icon>
                              </td>
                              <td>{{ 'participation.type.list.' + (invoice.type ?? null) | translate }}</td>
                              <td>{{ invoice.label }}</td>
                              <td class="text-center">{{ invoice.defaultAmount | currency: 'CHF' }}</td>
                              <td class="text-center">
                                <input
                                  type="number"
                                  class="form-control text-center"
                                  (blur)="onCustomAmountChange($event, invoicingPlan.id, invoice)"
                                  *ngIf="!invoice.lock && !invoicingPlan.hasBeenSent && !participation()?.isBillingClosed"
                                  value="{{ invoice.customAmount }}"
                                />
                                @if (!(!invoice.lock && !invoicingPlan.hasBeenSent && !participation()?.isBillingClosed)) {
                                  {{ invoice.customAmount | currency: 'CHF' }}
                                }
                              </td>
                              <td class="text-center">{{ invoice.quantity }}</td>
                              <td class="text-center">{{ (invoice.quantity ?? 0) * (invoice.customAmount ?? 0) | currency: 'CHF' }}</td>
                              <td>{{ invoice.extraInformation }}</td>
                            </tr>
                          }
                          <tr data-cy="entityTable">
                            <td class="fw-bold">Résultat</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="text-center fw-bold">{{ totalDefault(invoices) | currency: 'CHF' }}</td>
                            <td class="text-center fw-bold">{{ totalCustom(invoices) | currency: 'CHF' }}</td>
                            <td>&nbsp;</td>
                            <td class="text-center fw-bold">{{ totalInvoices(invoices) | currency: 'CHF' }}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="card">
      <h5 class="card-header">Paiements</h5>
      <div class="card-body">
        <div class="table-responsive table-entities" id="entities-payments">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr>
                <th class="col-2 text-center"><span>Date</span></th>
                <th class="col-1 text-center"><span>Mode</span></th>
                <th class="col-1 text-center"><span>Montant</span></th>
                <th class="col-auto text-center"><span>Extra info</span></th>
                <th class="col-2">&nbsp;</th>
              </tr>
            </thead>
            <tbody *ngIf="payments$ | async; let payments">
              @if (!payments.length) {
                <tr>
                  <td colspan="5"><span>Aucun paiement trouvé</span></td>
                </tr>
              }
              @if (payments.length) {
                @for (payment of payments; track $index) {
                  <tr data-cy="entityTable">
                    <td class="text-center">{{ payment.billingDate | formatMediumDate }}</td>
                    <td class="text-center">{{ payment.paymentMode }}</td>
                    <td class="text-center">{{ payment.amount | currency: 'CHF' }}</td>
                    <td class="text-center">{{ payment.extraInformation }}</td>
                    <td class="text-end">
                      <div class="btn-group">
                        <a [routerLink]="['/admin/payments', payment.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                          <fa-icon icon="eye" title="{{ 'common.view' | translate }}"></fa-icon>
                        </a>

                        <a [routerLink]="['/admin/payments', payment.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                          <fa-icon icon="pencil-alt" title="{{ 'common.edit' | translate }}"></fa-icon>
                        </a>

                        <button type="button" (click)="deletePayment(payment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                          <fa-icon icon="times" title="{{ 'common.delete' | translate }}"></fa-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                }
                <tr data-cy="entityTable">
                  <td class="fw-bold">Résultat</td>
                  <td>&nbsp;</td>
                  <td class="text-center fw-bold">{{ totalPayments(payments) | currency: 'CHF' }}</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  }
</div>
