<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (conference()) {
      <div>
        <h2 data-cy="conferenceDetailsHeading"><span jhiTranslate="salonApp.conference.detail.title">Conference</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="salonApp.conference.title">Title</span></dt>
          <dd>
            <span>{{ conference()!.title }}</span>
          </dd>
          <dt><span jhiTranslate="salonApp.conference.salon">Salon</span></dt>
          <dd>
            @if (conference()!.salon) {
              <div>
                <a [routerLink]="['/salon', conference()!.salon?.id, 'view']">{{
                  conference()!.salon?.place + ' ' + (conference()!.salon?.startingDate | formatMediumDate)
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="salonApp.conference.exponent">Exponent</span></dt>
          <dd>
            @if (conference()!.exponent) {
              <div>
                <a [routerLink]="['/exponent', conference()!.exponent?.id, 'view']">{{ conference()!.exponent?.fullName }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/conference', conference()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
