<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-invoice-heading" data-cy="InvoiceCreateUpdateHeading" jhiTranslate="salonApp.invoice.home.createOrEditLabel">
        Créer ou éditer un Invoice
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="salonApp.invoice.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_generationDate" jhiTranslate="salonApp.invoice.generationDate">Generation Date</label>
          <div class="d-flex">
            <input
              id="field_generationDate"
              data-cy="generationDate"
              type="datetime-local"
              class="form-control"
              name="generationDate"
              formControlName="generationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_label" jhiTranslate="salonApp.invoice.label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_defaultAmount" jhiTranslate="salonApp.invoice.defaultAmount">Default Amount</label>
          <input
            type="number"
            class="form-control"
            name="defaultAmount"
            id="field_defaultAmount"
            data-cy="defaultAmount"
            formControlName="defaultAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customAmount" jhiTranslate="salonApp.invoice.customAmount">Custom Amount</label>
          <input
            type="number"
            class="form-control"
            name="customAmount"
            id="field_customAmount"
            data-cy="customAmount"
            formControlName="customAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="salonApp.invoice.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_total" jhiTranslate="salonApp.invoice.total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lock" jhiTranslate="salonApp.invoice.lock">Lock</label>
          <input type="checkbox" class="form-check" name="lock" id="field_lock" data-cy="lock" formControlName="lock" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_extraInformation" jhiTranslate="salonApp.invoice.extraInformation">Extra Information</label>
          <input
            type="text"
            class="form-control"
            name="extraInformation"
            id="field_extraInformation"
            data-cy="extraInformation"
            formControlName="extraInformation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_participation" jhiTranslate="salonApp.invoice.participation">Participation</label>
          <select
            class="form-control"
            id="field_participation"
            data-cy="participation"
            name="participation"
            formControlName="participation"
            [compareWith]="compareParticipation"
          >
            <option [ngValue]="null"></option>
            @for (participationOption of participationsSharedCollection; track $index) {
              <option [ngValue]="participationOption">{{ participationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="common.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="common.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
