<div class="d-flex justify-content-center">
    <ngb-pagination
            (pageChange)="onPageChanged($event)"
            [boundaryLinks]="true"
            [collectionSize]="collectionSize"
            [ellipses]="true"
            [maxSize]="3"
            [pageSize]="pageSize"
            [page]="page"
            [rotate]="false">
    </ngb-pagination>
</div>

<div class="d-flex justify-content-center">
    <app-item-count [params]="{ page: page, totalItems: collectionSize, itemsPerPage: pageSize }"></app-item-count>
</div>
