<script src="../stand.model.ts"></script>
<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (stand()) {
      <div>
        <h2 data-cy="standDetailsHeading">
          <span>{{ stand()!.description }}</span>
        </h2>

        <hr />

        <div class="d-flex justify-content-between mt-3">
          <span>
            <button type="submit" (click)="previousState()" class="btn btn-primary" data-cy="entityDetailsBackButton">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="common.back">Retour</span>
            </button>
          </span>
        </div>

        <hr />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="stand.description">Description</span></dt>
          <dd>
            <span>{{ stand()!.description }}</span>
          </dd>

          <dt><span jhiTranslate="stand.website">Site internet</span></dt>
          <dd>
            <span>{{ stand()!.website }}</span>
          </dd>
          <dt><span jhiTranslate="stand.socialMedia">Social / Média</span></dt>
          <dd>
            <span>{{ stand()!.socialMedia }}</span>
          </dd>
          <dt><span jhiTranslate="stand.shared">Partagé ?</span></dt>
          <dd>
            <span>{{ stand()!.shared }}</span>
          </dd>
          <dt><span jhiTranslate="stand.nbTable">Nombre de table</span></dt>
          <dd>
            <span>{{ stand()!.nbTable }}</span>
          </dd>
          <dt><span jhiTranslate="stand.nbChair">Nombre de chaise</span></dt>
          <dd>
            <span>{{ stand()!.nbChair }}</span>
          </dd>
          <dt><span jhiTranslate="stand.needElectricity">Avec électricité ?</span></dt>
          <dd>
            <span>{{ stand()!.needElectricity }}</span>
          </dd>
          <dt><span jhiTranslate="stand.participation">Participation</span></dt>
          <dd>
            @if (stand()!.participation) {
              <div>
                <a [routerLink]="['/participation', stand()!.participation?.id, 'view']">{{
                  stand()!.participation?.exponent?.fullName
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="stand.dimension">Dimension</span></dt>
          <dd>
            @if (stand()!.dimension) {
              <div>
                <a [routerLink]="['/dimension-stand', stand()!.dimension?.id, 'view']">{{ stand()!.dimension?.dimension }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="stand.status.label">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'stand.status.list.' + (stand()!.status ?? 'null')">
              {{
                { null: '', REFUSED: 'REFUSED', CANCELED: 'CANCELED', IN_VERIFICATION: 'IN_VERIFICATION', ACCEPTED: 'ACCEPTED' }[
                  stand()!.status ?? 'null'
                ]
              }}</span
            >
          </dd>
          <dt><span jhiTranslate="stand.extraInformation">Information complémentaire</span></dt>
          <dd>
            <span>{{ stand()!.extraInformation }}</span>
          </dd>
        </dl>
      </div>
    }
  </div>
</div>
