@import 'content/scss/vendor';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

@media screen and (min-width: 1281px) {
  .jh-global {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.jh-global {
  margin-left: 0;
  margin-right: 0;
}

.jh-card {
  padding: 1.5%;
  height: 100vh;
  background-color: #f4f7e9;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;

    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }

    .popover pre {
      font-size: 10px;
    }
  }

  .jhi-toast {
    position: fixed;
    width: 100%;

    &.left {
      left: 5px;
    }

    &.right {
      right: 5px;
    }

    &.top {
      top: 55px;
    }

    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity list page css
========================================================================== */

.table-entities thead th .d-flex > * {
  margin: auto 0;
}

/* ==========================================================================
entity stats page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }

    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

a {
  color: $primary;
}

a:hover {
  color: $secondary;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/******************** SALON STYLES *************************/

/* ALERT */

.alert-warning {
  color: black;
  background-color: #f8e6d8;
}

/* ICONS */

.primary-icon {
  color: $primary;
}

.secondary-icon {
  color: $secondary;
}

.golden-icon {
  color: #efbf00;
}

.grey-icon {
  color: #C6C6C6FF;
}

.success-icon {
  color: $success;
}

.warning-icon {
  color: $warning;
}

.danger-icon {
  color: $danger;
}

.white-icon {
  color: white;
}

/* ACCORDION */

.accordion-button:not(.collapsed) {
  background-color: $primary;
  color: white;
}

.accordion-button.collapsed {
  background-color: $primary;
  color: white;
}

/* TABLE */
.table .thead-primary th {
  background-color: $primary;
  color: white;
}

.table {
  border: 1px solid rgba($secondary, 0.75);
}

.table td {
  vertical-align: middle;
}

.table td.go-detail {
  cursor: pointer;
}

.table td.clipboard {
  cursor: pointer;
}

.table td.clipboard:hover {
  background-color: $secondary;
}

.truncate {
  white-space: nowrap; /* Empêche le texte de se diviser sur plusieurs lignes */
  overflow: hidden; /* Cache le texte qui déborde du conteneur */
  text-overflow: ellipsis; /* Remplace le texte tronqué par "..." */
  max-width: 500px; /* Fixe une largeur maximale pour la cellule */
}

.truncate-small {
  white-space: nowrap; /* Empêche le texte de se diviser sur plusieurs lignes */
  overflow: hidden; /* Cache le texte qui déborde du conteneur */
  text-overflow: ellipsis; /* Remplace le texte tronqué par "..." */
  max-width: 300px; /* Fixe une largeur maximale pour la cellule */
}

/* CARD */

.card-header {
  background-color: $primary;
  color: white;
}

.card-body {
  border: 1px solid $primary;
}

/* FORM CONTROL */

.form-control {
  background-color: #fffddc;
  border: 1px solid $darkgrey;

  &:focus {
    background-color: #ffffff;
    border: 1px solid $darkgrey;
    outline: 0;
    box-shadow: none;
  }

  &:disabled {
    background-color: #e6e6e6;
    border: 1px dashed $dark;
  }
}

/* LOG EVENT */

.log-container {
  overflow-y: auto;
}

/* TABLE SECTION FOR INVOICES */

.table-section {
}

.table-section-ending {
  background-color: #555555 !important;
  color: white !important;
}

/* ASTERIX REQUIRED */

/* Ajouter un astérisque rouge au label */
label::after {
  content: '*';
  color: $danger;
  margin-left: 5px;
  display: none; /* L'astérisque est caché par défaut */
}

/* Afficher l'astérisque si le field-error contient une erreur */
div:has(field-error) > label::after {
  display: inline; /* Afficher l'astérisque rouge */
}

.nav-tabs .nav-link {
  border-radius: 0;
}

.nav-tabs .nav-link.active {
  border-radius: 0;
  background-color: $darkgrey;
  color: $light;
  border: 1px solid $darkgrey;
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
}

.btn-group.active .dropdown-toggle {
  border-radius: 0;
  background-color: $darkgrey;
  color: $light;
  border: 1px solid $darkgrey;
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
}

.btn-group.active .dropdown-item:hover {
  background-color: $darkgrey;
  color: $light;
}

.dropdown-items {
  .dropdown-item.active {
    background-color: $warning;
    color: $white;
  }

  .dropdown-item {
    color: #555555;
  }

  .dropdown-item:disabled {
    color: #a5a5a5;
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: $primary;
    color: $white;
  }

  .dropdown-item.dropdown-item-danger:focus,
  .dropdown-item.dropdown-item-danger:hover {
    background-color: $danger;
    color: $white;
  }
}

ngb-typeahead-window.dropdown-menu {
  max-height: 20em !important;
  overflow-y: auto;
}

ngb-typeahead-window.dropdown-menu .dropdown-item {
  color: $darkgrey;
}

ngb-typeahead-window.dropdown-menu .dropdown-item:hover {
  background-color: $primary;
  color: $white;
}

ngb-typeahead-window.dropdown-menu .dropdown-item .ngb-highlight {
  color: $primary;
}

ngb-typeahead-window.dropdown-menu .dropdown-item:hover .ngb-highlight {
  color: $white;
}

.page-item.active .page-link {
  color: white;
  background-color: $primary;
}

.clickable {
  cursor: pointer;
}
