<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end align-items-center">
            <button-box (clickedEvent)="addRoom()" primeIcon="pi-plus" translateKey="common.create" type="success"/>
        </div>
        <p-table [rowHover]="true" [rowTrackBy]="trackById" [value]="rooms()" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>Libellé</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template let-room pTemplate="body">
                <tr>
                    <td>
                        <input
                                (blur)="commitRoomLabel(room.id)"
                                (ngModelChange)="setRoomLabelDraft(room.id, $event)"
                                [ngModel]="roomLabel(room)"
                                fluid="true"
                                pInputText
                        />
                    </td>
                    <td class="text-end">
                        <button-box (clickedEvent)="deleteRoom(room.id)"
                                    [showText]="false"
                                    primeIcon="pi-times"
                                    translateKey="common.delete"
                                    type="danger"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>