<div>
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="reset.request.title">Réinitialiser son mot de passe</h1>

            <jhi-alert-error></jhi-alert-error>

            @if (!success()) {
                <div class="alert alert-warning">
                    <span jhiTranslate="reset.request.messages.info">Veuillez renseigner l&apos;adresse email utilisée pour vous enregistrer</span>
                </div>
                <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                    <div class="mb-3">
                        <label class="form-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="{{ 'global.form.email.placeholder' | translate }}" formControlName="email" #email/>

                        <field-error [formControlElement]="getEmail" [errors]="[
                ErrorModel.required(),
                ErrorModel.minlength(5),
                ErrorModel.maxlength(50),
                ErrorModel.custom('email', 'global.messages.validate.email.invalid'),
              ]"></field-error>
                    </div>

                    <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" jhiTranslate="reset.request.form.button">
                        Réinitialiser le mot de passe
                    </button>
                </form>
            } @else {
                <div class="alert alert-success">
                    <span jhiTranslate="reset.request.messages.success">Veuillez vérifier vos nouveaux emails et suivre les instructions pour réinitialiser votre mot de passe.
                    </span>
                </div>
            }
        </div>
    </div>
</div>
