<div>
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="reset.request.title">Réinitialiser son mot de passe</h1>

            <app-alert-error></app-alert-error>

            @if (!success()) {
                <div class="alert">
          <span jhiTranslate="reset.request.messages.info">Veuillez renseigner l&apos;adresse email utilisée pour vous enregistrer
          </span>
                </div>
                <form (ngSubmit)="requestReset()" [formGroup]="resetRequestForm" name="form">
                    <div class="mb-3 position-relative">
                        <label class="form-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                        <input #email
                               [placeholder]="'global.form.email.placeholder' | translate"
                               class="form-control"
                               formControlName="email"
                               id="email"
                               name="email"
                               type="email"/>

                        <field-error [errors]="[
                ErrorModel.required(),
                ErrorModel.minlength(5),
                ErrorModel.maxlength(50),
                ErrorModel.custom('email', 'global.messages.validate.email.invalid'),
              ]" [formControlElement]="getEmail"></field-error>
                    </div>

                    <button-box [isDisabled]="resetRequestForm.invalid" [isSubmit]="true" translateKey="reset.request.form.button" type="primary"/>
                </form>
            } @else {
                <div class="alert alert-success">
          <span jhiTranslate="reset.request.messages.success">Veuillez vérifier vos nouveaux emails et suivre les instructions pour réinitialiser votre mot de passe.
          </span>
                </div>
            }
        </div>
    </div>
</div>
