<div>
  <h2 id="page-heading" data-cy="ConfigurationSalonHeading">
    <span jhiTranslate="salonApp.configurationSalon.home.title">ConfigurationSalons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="salonApp.configurationSalon.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-configuration-salon"
        [routerLink]="['/configuration-salon/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="salonApp.configurationSalon.home.createLabel">Créer un nouveau Configuration Salon</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (configurationSalons?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="salonApp.configurationSalon.home.notFound">Aucun Configuration Salon trouvé</span>
    </div>
  }

  @if (configurationSalons && configurationSalons.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="salonApp.configurationSalon.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priceMeal1">
              <div class="d-flex">
                <span jhiTranslate="salonApp.configurationSalon.priceMeal1">Price Meal 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priceMeal2">
              <div class="d-flex">
                <span jhiTranslate="salonApp.configurationSalon.priceMeal2">Price Meal 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priceMeal3">
              <div class="d-flex">
                <span jhiTranslate="salonApp.configurationSalon.priceMeal3">Price Meal 3</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priceConference">
              <div class="d-flex">
                <span jhiTranslate="salonApp.configurationSalon.priceConference">Price Conference</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="priceSharingStand">
              <div class="d-flex">
                <span jhiTranslate="salonApp.configurationSalon.priceSharingStand">Price Sharing Stand</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="salon.id">
              <div class="d-flex">
                <span jhiTranslate="salonApp.configurationSalon.salon">Salon</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (configurationSalon of configurationSalons; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/configuration-salon', configurationSalon.id, 'view']">{{ configurationSalon.id }}</a>
              </td>
              <td>{{ configurationSalon.priceMeal1 }}</td>
              <td>{{ configurationSalon.priceMeal2 }}</td>
              <td>{{ configurationSalon.priceMeal3 }}</td>
              <td>{{ configurationSalon.priceConference }}</td>
              <td>{{ configurationSalon.priceSharingStand }}</td>
              <td>
                @if (configurationSalon.salon) {
                  <div>
                    <a [routerLink]="['/salon', configurationSalon.salon.id, 'view']">{{ configurationSalon.salon.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/configuration-salon', configurationSalon.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/configuration-salon', configurationSalon.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(configurationSalon)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
