<p-iftalabel>
    <p-auto-complete [addOnBlur]="true"
                     [addOnTab]="true"
                     [formControl]="control"
                     [id]="'field_' + fieldName"
                     [inputSize]="maxChips"
                     [showClear]="!control.disabled"
                     [typeahead]="false"
                     fluid="true"
                     multiple/>

    <label [for]="'field_' + fieldName">
        @if (translateKey) {
            {{ translateKey | translate }}
        }
        @if (control.hasValidator(Validators.required)) {
            <span class="text-danger">*</span>
        }
        <small>{{ 'autocomplete.chips.suffix' | translate }}</small>
    </label>
</p-iftalabel>
@if (control.errors) {
    <error-box [formControlElement]="control"/>
}